
  <p mat-dialog-title class="heading-modal-od">Other Data <button class="close-btn-od" (click)="onNoClick()" mat-icon-button>
      <mat-icon>close</mat-icon>
      </button></p>
  <div class="px-15">
      <div class="clear">
          <p class="left-label mt-18">Ref</p>
          <mat-form-field class="right-field">
    
      <!-- <input [(ngModel)]="oTherData.RefNo" matInput placeholder="RefNo"> -->
      <textarea [(ngModel)]="oTherData.RefNo" matInput placeholder="RefNo" class="custom-textarea" maxlength="50"></textarea>
          </mat-form-field>
        </div>
  <div class="clear">
    <p class="left-label mt-18">UOM</p>
    <mat-form-field class="right-field">
      <!-- <input matInput  [(ngModel)]="oTherData.UOM" placeholder="UOM"> -->
      <textarea  [(ngModel)]="oTherData.UOM" matInput placeholder="UOM" class="custom-textarea" maxlength="50"></textarea>
    </mat-form-field>
  </div>
  <div class="clear">
    <p class="left-label mt-18">BomAddDesc1</p>
    <mat-form-field class="right-field">
      <!-- <input matInput [(ngModel)]="oTherData.BomAddDesc1" placeholder="BomAddDesc1"> -->
      <textarea [(ngModel)]="oTherData.BomAddDesc1" matInput placeholder="BomAddDesc1" class="custom-textarea" maxlength="50"></textarea>
    </mat-form-field>
  </div>
  <div class="clear">
      <p class="left-label mt-18">BomAddDesc2</p>
      <mat-form-field class="right-field">
        <!-- <input matInput  [(ngModel)]="oTherData.BomAddDesc2" placeholder="BomAddDesc2"> -->
        <textarea [(ngModel)]="oTherData.BomAddDesc2" matInput placeholder="BomAddDesc2" class="custom-textarea" maxlength="50"></textarea>
      </mat-form-field>
    </div>
    <div class="clear">
        <p class="left-label mt-18">Planning Plant</p>
        <mat-form-field class="right-field">
          <mat-select [(ngModel)]="oTherData['PlanningPlant']">
            <mat-option [value]="plant.Plant" *ngFor="let plant of  plantsData" >
              {{plant.Plant}} {{oTherData['PlanningPlant'] == plant.Plant?'':plant.PlantDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>