<div >
  <p mat-dialog-title class="heading-modal">Add Documents 
    <span class="edit-btn-modal-head">
        <i matTooltip="Save Data" class="material-icons" (click)="saveDataForDocPopUp()">save</i>
        <i matTooltip="Add Row" class="material-icons" (click)="docPopUpRowAdd()">add_circle</i>
        <i matTooltip="Remove Row" class="material-icons"  (click)="docPopUpRowRemove()">remove_circle</i>
        <i matTooltip="Delete" class="material-icons"  (click)="docPopUpDeleteRow()" class="material-icons">delete</i>
    </span> 
    
    <button style=" float: right;" class="close-btn" (click)="onNoClick()" mat-icon-button> 
    <mat-icon>close</mat-icon>
    </button></p>
    
    <div class="scroll table-block" (scroll)="loadMore($event)">
        <!-- <mat-spinner mode="indeterminate" class="center-div" [diameter]="50" *ngIf="!(this.dropDownValues && this.popUpTableData)"></mat-spinner> -->
    <table  mat-table class="mat-elevation-z8 floc-table-popup"   #table [dataSource]="popUpTableData.data"  *ngIf="this.dropDownValues && this.popUpTableData" (input)="onChangeOfRowField(data)">
      <!-- <span > -->
          <ng-container matColumnDef="playBuuton"  >
              <th class="mw-80" mat-header-cell *matHeaderCellDef style="margin-right:10px;">   </th>
              <td style="margin-right:10px;" class="mw-70" mat-cell *matCellDef="let i;let ind = index" (click) ="this.selectedIndex = ind"><button ><mat-icon *ngIf="ind != selectedIndex" (click)="playButtonclick(i)">edit</mat-icon> <mat-icon *ngIf="ind == selectedIndex" (click)="playButtonclick(i)">play_arrow</mat-icon></button>
              </td>
            </ng-container> 
            
            <ng-container matColumnDef="SourceID">
              <th class="mw-120" mat-header-cell *matHeaderCellDef> SourceID  </th>
              <td class="mw-120" mat-cell *matCellDef="let i"> {{i.SourceID}} {{popUpTableData.length}} </td>
            </ng-container>
        
            
        
              <ng-container matColumnDef="DocType" >
              <th mat-header-cell *matHeaderCellDef class="mw-75" >DocType</th>
                <!-- <th mat-header-cell *matHeaderCellDef> DocType </th> -->
              <td mat-cell *matCellDef="let row" class="mw-75">
                  <form class="example-form "  *ngIf="row">
                    <mat-form-field class="example-full-width" floatLabel="never" *ngIf="row && row.DocType ">
                      <input [readonly]="!row.displayKey" type="text" placeholder="Doc type search here" aria-label="Number" matInput [formControl]="myControl1" [matAutocomplete]="auto" (input)="getDocType($event)" [(ngModel)]="row.DocType">
                      <mat-autocomplete #auto="matAutocomplete" >
                            <mat-option *ngFor="let i of docTypeSearchOptions" [value]="i" >
                                {{i}}
                            </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <!-- <mat-form-field class="example-full-width" floatLabel="never">
                        <input [readonly]="!row.displayKey" type="text" placeholder="Doc type search here" aria-label="Number" matInput [formControl]="myControl1" [matAutocomplete]="auto" (input)="getDocType($event)" [(ngModel)]="row.DocType">
                        <mat-autocomplete #auto="matAutocomplete" >
                              <mat-option *ngFor="let i of docTypeSearchOptions" [value]="i" >
                                  {{i}}
                              </mat-option>
                        </mat-autocomplete>
                      </mat-form-field> -->
                  </form>
                </td>
              </ng-container>
            
              <ng-container matColumnDef="Document Description">
                 
                <th mat-header-cell *matHeaderCellDef>Document Description </th>
                <td class="desc-break" mat-cell *matCellDef="let i"> {{i.DocDesc}} </td>
          
              </ng-container>
            
              <ng-container matColumnDef="DocRev">
                  
                  <th mat-header-cell *matHeaderCellDef  class="mw-110 custom-txt-centr"> Doc Rev </th>
                  <td mat-cell *matCellDef="let i" class="mw-110 custom-txt-centr">
                      <form class="example-form">
                          <mat-form-field class="example-full-width" floatLabel="never">
                            <input  type="text"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
                            <mat-autocomplete #auto="matAutocomplete" >
                                  <mat-option>
                                      {{i.DocRev}}
                                  </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                      </form>
                     <!-- <span class="flocmodalcustom-text">{{i.DocRev}}</span> -->
                    <!-- <span class="flocmodalcustom-number">{{i.DocID}}</span> -->
                   </td>
               
                </ng-container>
        
              <ng-container matColumnDef="Object Type" >
        
                  <th class="mw-110" mat-header-cell *matHeaderCellDef>Object Type </th>
                  <td class="mw-110" mat-cell *matCellDef="let row">
                    <form class="example-form">
                      <mat-form-field class="example-full-width" floatLabel="never">
                        <input [readonly]="!row.displayKey" type="text" placeholder="Object type search here" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (input)="getObjType($event)" [(ngModel)]="row.ObjType">
                        <mat-autocomplete #auto="matAutocomplete" >
                              <mat-option *ngFor="let i of objTypeSearchOptions" [value]="i" >
                                  {{i}}
                              </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                  </td>
              </ng-container>
        
            <!-- </span> -->
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr  [class]="selectedIndex == indx ? 'editable':''" mat-row *matRowDef="let row; let indx = index; columns: displayedColumns;"></tr>
        <!-- </span> -->
      </table>
      
    </div>
    <div class="loader-block">
    <div *ngIf="loader" >
      <p class="loader"></p>
    </div>
  </div>
    </div>
  
  
  