.floc-bottom-table-modal .mat-dialog-container{
    padding: 0px !important;
    }
    .editable{
        background: #e4e4e4 !important;
    }
    .heading-modal{
        padding: 10px;
        color: #fff;
        font-weight: 500;
        text-align: center;
        font-size: 20px;
        text-transform: capitalize;
        background: #7093ac;
        margin: 0px !important;
        overflow: hidden !important;
        position: relative;
    }
    .scroll{
        overflow: auto;
    }
    .close-btn{
        float: right;
        top: 3px;
    }
    .close-btn i{
        color: #fff !important;
    }
  .custom-example-form {       
        width: 50% !important;
      }
      
    .example-full-width {
        width: 100%;
    }
    .mw-300{
        min-width: 300px;
    }
    td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
        padding-right: 5px !important;
    }
    
    .srno-width{
        width: 30% !important;
    }
    .floc-table-popup{
        max-height: 500px;
        display: block;
    }
@media (min-width: 1024px) {
    .floc-bottom-table-modal .table-block{
        min-width: 400px;
        min-height: 500px;
    }

}
.center-div{
    position: absolute !important;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.floc-bottom-table-modal .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 13px !important;
}
.floc-bottom-table-modal .mat-header-cell {
    font-weight: 600 !important;
    color: #00072d !important;
}
.floc-bottom-table-modal .mat-form-field-infix {
    border-top: 7px solid transparent !important;
}
.flocmodalcustom-number{
    /* float: left !important; */
    max-width: 10% !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #0d9aff !important;
    margin-right: 15px;
    float: right;
  }
.flocmodalcustom-text{
    /* float: right !important; */
    max-width: 90% !important;   
    /* text-overflow: ellipsis; */
}
.mw-75{
    min-width: 75px !important;
    max-width: 75px !important;
}
.custom-txt-centr{
    text-align: center !important;
}
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.desc-break{
  min-width: 300px !important;
  overflow: hidden;
  word-break: break-all;
}

.loader-block{
    width: 100%;
    background: #fbfbfb;
    height: 25px;
}
.edit-btn-modal-head{
    position: absolute;
    top: 22px;
    right: 50px;
}


