.pma-left-pane {
  max-width: 50%;
  min-width: 18%;
  width: 18%;
  background: #a5cfed;
  overflow: auto;
  scrollbar-color: #24618c #cedde8;
  scrollbar-width: 10px !important;
}
.pm-blue{
  background: #a5ceed;
}
.objTypeSelect{
  max-width: 60px;
}
.PMAssemly{
  text-align: left;
  background: orange; 
  min-width: 100%;

}
.PMAssembly{ 
  text-align: left;
  background:orange; 
  min-width: 100%;
}
.subAssembly{
  min-width: 100%;
  text-align: left;
  background: #929292;
}
.SubAssembly{
  min-width: 100%;
  text-align: left;
  background: yellow !important;
}
.Material{
  min-width: 100%;
  text-align: left;
  background: red !important;
}

.pma-right-pane {
  min-width: 50%;
  max-width: 82%;
  width: 82%;
  background: #4a9eda;
  scrollbar-color: #24618c #cedde8;
  scrollbar-width: 10px !important;
}

.heading-pma-table {
  background: #e5e5e5;
  width: 100%;
  text-align: left;
  padding: 4px;
  margin: 0px !important;
  font-size: 15px;
  font-weight: 600;
  color: #00072d;
  display: inline-block;
  /* top: -20px; */
  position: relative;
}

.pma-right-pane td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding-right: 10px !important;
}

.pma-right-table-3 table {
  overflow: auto;
  max-height: 170px;
}

.pma-right-table-2 table {
  overflow: auto;
  max-height: 170px;
}

.pma-right-table-1 table {
  overflow: auto;
  max-height: 170px;
  
}

.pma-right-pane table tr.mat-row {
  height: 30px !important;
}

.pma-right-pane .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 12px !important;
}

.pma-right-pane .mat-icon-button {
  height: 25px !important;
  width: 25px !important;
  line-height: 25px !important;
}

.add-pma-btn {
  float: right;
  margin-right: 15px !important;
  line-height: 20px !important;
  cursor: pointer !important;
  border: 1px solid #00072d !important;
}
.pma-right-pane .searchbar {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -12px;
  margin-bottom: -15px;

  /* margin-top: -20px !important; */
}
.pma-scroll {
  overflow: auto;
  /* max-height: 200px !important; */
  /* max-height: 170px !important; */
  min-height: 24vh;
    max-height: 24vh;
  /* margin-top: -20px !important; */
  background: #a5ceed;
  
}

.pma-right-pane .mat-header-cell {
  font-weight: 600 !important;
  color: #00072d !important;
}

.pma-right-pane form .mat-form-field-infix{
  padding: .5em 0 !important;
  border-top: 5px solid transparent !important;
}
.pma-right-pane th{
  text-align: left !important;
  font-weight: 600 !important;
  color: #00072d !important;
  font-size: 12px;
}
.pma-scroll input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #929292;
  margin-top: 17px !important;
}
.pma-scroll select{
  margin-top: 17px !important;
}

/* .pma-scroll textarea{
   
} */
.custom-pure-btn{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background: #fff;
  border-radius: 2px;
  border: 1px solid transparent !important;
  outline: 0 !important;
  cursor: pointer;
  padding: 0px;
  max-height: 25px !important;
  min-width: 30px;
  max-width: 30px !important;
  min-height: 25px !important;
  margin-left: 10px;
  margin-top: 15px;
}
.pma-right-pane .searchicon {
  position: absolute;
  bottom: 5px;
  left: 10px;   
  color: #fff !important;
  font-size: 18px !important;
}
.pma-right-pane td{
  padding: 0px !important;
}
.pma-th{
  min-width: 72px !important;
}
.search-custom-margin{
  margin: -5px 0px !important;
}
.first-searchbar .searchicon{
  bottom: 1px !important;
}
.pma-right-pane .searchbar .mat-form-field-underline {
  background-color: transparent !important;
  height: 0px !important;
}
.pma-right-pane .first-searchbar .searchbar{
  margin-top: -4px !important;
  margin-bottom: -20px !important;
}
.first-searchbar input.mat-input-element {
  /* top: 5px !important;
  position: relative !important; */
}
.first-searchbar .mat-form-field-appearance-legacy .mat-form-field-label {
  /* margin-top: 5px !important; */
}
.pma-right-pane .searchbar.mat-form-field-underline {
  height: 0px !important;
}
/* .mat-select-custom ::ng-deep .mat-form-field-infix {
  padding: .5em 0;
  border-top: 0px solid transparent;
  }
  .mat-select-custom ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  }
  .mat-select-custom ::ng-deep .mat-form-field-label-wrapper {
  padding-top: 4px;
  }
  .mat-select-custom ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px;
  top: 23px;
  } */
  .search-table-pma{
  overflow-y: auto !important;
  display: block !important;
  max-height: 130px !important;
}
.pma-right-pane .mat-form-field-infix {
  border-top: 0px solid transparent !important;
}
.pma-right-pane .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
  visibility: hidden !important;
}
.pma-right-pane input.mat-input-element {

  font-size: 12px !important;
}
.pma-right-pane .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
.pma-scroll input {
  font-size: 12px !important;
}
.pma-right-pane .mat-form-field {
  width: inherit !important;
}
.mxwd-90{
  max-width: 90px !important;
}
.mxwd-150{
  max-width: 150px !important;
}
.mxwd-100{
  max-width: 100px !important;
}
.mxwd-50{
  max-width: 50px !important;
}
.mxwd-200{
  max-width: 200px !important;
}
.mnwd-200{
  min-width: 200px !important;
}
.top-searchicon{
bottom: 0px !important;
}
.pma-right-table-1 .searchbar .mat-form-field-label-wrapper{
  font-size: 13px !important;
  top: -6px !important;
}
.custom-title{
  font-size: 14px !important;
  font-weight: 600 !important;
}


.pma-right-table-2 .searchbar .mat-form-field-label-wrapper{
  top: -12px !important;
  font-size: 13px !important;
}

.pma-right-table-3 .searchbar .mat-form-field-label-wrapper{
  top: -12px !important;
  font-size: 13px !important;
}
.pma-right-table-2 .searchbar .mat-input-element{
  top: -7px !important;
  position: relative !important;
}
.pma-right-table-3 .searchbar .mat-input-element{
  top: -7px !important;
  position: relative !important;
}
.pma-right-table-3 .searchbar .mat-icon-button{
  top: -8px !important;
}
.pma-right-table-2 .searchbar .mat-icon-button{
  top: -8px !important;
}



.left-top-btn{
  padding: 0px !important;
  min-width: 30px !important;
}
.collapse-btn{
  float: right !important;
  line-height: 0px !important;
  margin-top: 10px !important;
}
/* .pma-right-table-1 {
  min-height: 30vh;
  max-height: 30vh;
}
.pma-right-table-2 {
  min-height: 30vh;
  max-height: 30vh;
}
.pma-right-table-3 {
  min-height: 30vh;
  max-height: 30vh;
} */

.center-div{
  position: absolute !important;
  top: 46%;
  left: 50%;
  z-index: 99999 !important;
  transform: translate(-50%, -50%);

}
.home-page{
  position: relative;
  }
  .low-opacity  {
    opacity: 0.3 !important;
  }
  /* #cdk-overlay-0{
    min-width:80%;
  } */
  .custom-mac{
    min-width: 500px !important;
  }

  .custom-mac2{
  max-width: 51px !important;
  }






  .multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute; 
     left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
 
  .multiselectLabel {
    display: block;
    min-width: 350px;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  .custom-checkbox-pm{
    position: absolute;
    z-index: 4444444;
    background: #fff;
    max-height: 100px;
    display: block;
    overflow: auto;
    font-size: 10px;
  }
.floatRight{
    float:right;
    font-size: 22px !important;
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
    margin-right: 9px;
    margin-left: 0px; 
  }
  .obj-click{
    background:#fbcc33 !important;
    min-width:100%;
  }
  .search-table-pma td {
    padding-right: 10px !important;
    padding-left: 5px !important;
  }

  .custom-textarea {
    background: transparent !important;
    /* border: none !important; */
    outline: none !important;
    max-height: 41px !important;
    min-height: 41px !important;
    overflow: hidden !important;
    resize: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #929292;
    font-size: 12px !important;
  }
  .mt-15{
    margin-top: 15px !important;
  }
  .mt-10{
    margin-top: 10px !important;
  }
  .a-c-make{
    min-width: 300px !important;
  }

  .pmaf-checkbox{
    margin-left: 10px !important;
    position: relative !important;
    top: 2px !important;
  }
  .pma-scroll input.pmaf-checkbox{
    margin-top: 0px !important;
  }
  .pl-5{
    padding-left: 5px;
  }