.ribbon {
  height: 5vh;
  text-align: center;
  font-size: 16px;
  background-color: #00072D;
}

.logout-btn {
  font-size: 11px;
  line-height: 3;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  background: #e04c58e0;
  padding: 1px 5px;
  border: 0px;
  outline: 0px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transition: 0.7s;
}

.logout-btn-div{
  position: absolute;
  top: 5px;
  right: 10px;
}

.logout-btn i {
  position: relative !important;
  top: 5px !important;
  font-size: 16px !important;
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .logout-btn {
      font-size: 8px !important;
      padding: 1px 1px !important;
      letter-spacing: 1px;
  }
  .heading-text {
      position: relative;
      top: 6px !important;
      color: #fff;
  }
}

@media (max-width: 1400px) {
  .logout-small-btn {
      min-width: 55px;
      cursor: pointer;
      display: block;
      position: relative;
      top: -3px;
  }
  .logout-large-btn {
      display: none !important;
  }
}

@media (min-width: 1401px) {
  .logout-small-btn {
      display: none !important;
  }
  .logout-large-btn {
      display: block !important;
      margin-top: 1px;
  }
}