<div class="ribbon">
  

  
  <p class="heading-text my-0">

    <!-- <i style="margin-right: 3%;margin-left:2%;float:left;" class="far fa-arrow-alt-circle-left"></i>
    <i style="margin-right: 6%;float:left;" class="far fa-arrow-alt-circle-right"></i> -->
    <!-- <i style="margin-right: 3%; float:left;" class="fas fa-download"></i>
    <i style="margin-right: 3%; float:left;" class="fas fa-upload"></i> -->
    <!-- <i style="margin-right: 3%" class="fas fa-file-import" ></i>Space for Ribbon Development -->
    <i class="fa fa-bar-chart"  aria-hidden="true"></i>
    <mat-slide-toggle class="mr-15" style="float:right !important;position: relative;right:80px" [checked]="this.slider" (change)="showPmAssembly($event)"  matTooltip={{viewToolTip}}></mat-slide-toggle>
  </p>
 
  
  <p class="my-0 text-right logout-btn-div">
      
    <button class="btn btn-default logout-btn logout-large-btn" (click)="logoutFunction()"><i
        class="material-icons">
        power_settings_new
      </i> Logout</button>
      <button class="btn btn-default logout-btn logout-small-btn" (click)="logoutFunction()"  matTooltip="Logout"><i
        class="material-icons">
        power_settings_new
      </i></button>
  </p>
</div>