
  <p mat-dialog-title class="heading-modal-od">Other Data <button class="close-btn-od" (click)="onNoClick()" mat-icon-button>
    <mat-icon>close</mat-icon>
    </button></p>
<div class="px-15">
  <div class="clear">
  <p class="left-label mt-18">Plant</p>
  <mat-form-field class="right-field">
    <mat-select [(ngModel)]="plantValue">
        <mat-option   *ngFor="let plant of plantsData"    [value]="plant.Plant">
        {{plant.Plant}}  {{(this.plantValue == plant.Plant )?'':plant.PlantDesc}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="clear">
  <p class="left-label mt-18">RefNo</p>
  <mat-form-field class="right-field">
    <input matInput [(ngModel)]="this.passedData['RefNo']">
  </mat-form-field>
</div>
<div class="clear">
  <p class="left-label mt-18">Rev</p>
  <mat-form-field class="right-field">
    <input matInput [(ngModel)]="this.passedData['Rev']">
  </mat-form-field>
</div>
</div>