
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.card {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08) !important;
}

.custom-input {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 90%;
  background: #e6e6e6;
  border-radius: 4px;
  padding: 0px 15px 0 15px;
  height: 40px;
  margin-bottom: 10px;
  outline: 0 !important;
  border: 0px solid transparent;
}

.login-btn {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  background: #3976ae;
  padding: 7px 25px;
  border: 0px;
  outline: 0px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transition: 0.7s;
  cursor: pointer;
}

.heading {
  color: #3976ae;
  margin-top: 0px;
}


.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px !important;
  outline-offset: 0px !important;
}
.heading h1 {
  color: #3976ae;
  margin: 0px !important;
  font-family: 'Ubuntu', sans-serif !important;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 0px;
  right: 0px;
}


body {
  /* background-image: url('../../../Content/images/bg.jpg'); */
  background-image: url('../../assets/images/bg.jpg');
  width: 100%;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}
/* body {
   background-image: url("../../assets/login/bg.jpg");
   width: 100%;
   min-height: 100vh;
   font-family: 'Ubuntu', sans-serif;
   width: 100%;
   min-height: 100vh;
   font-family: 'Ubuntu', sans-serif;
}

.card {
   width: 300px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   border-radius: 7px;
   padding: 20px;
   box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08)!important;
}

.custom-input {
   font-size: 15px;
   line-height: 1.5;
   color: #666;
   display: block;
   width: 100%;
   background: #e6e6e6;
   border-radius: 4px;
   padding: 0px 15px 0 15px;
   height: 40px;
}

.login-btn {
   font-size: 16px;
   line-height: 1.5;
   color: #fff;
   text-transform: uppercase;
   border-radius: 5px;
   background: #3976ae;
   padding: 7px 25px;
   border: 0px;
   outline: 0px;
   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
   transition: 0.7s;
}

.heading {
   color: #3976ae;
   margin-top: 66px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
   outline: 0px !important;
} */
.login-page{
  background-image: url('https://www.xmple.com/wallpaper/blue-gradient-white-linear-3840x2160-c2-87cefa-ffffff-a-270-f-14.svg');
  width: 100%;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}
.visible{
  position: absolute;
    top: 8px;
    right: 5px;
}
.p-relative{
  position: relative;
}