<div class="login-page">
  <div class="container">
    <div class="text-center heading">
      <h1>Company Name/Product Name</h1>  
    </div>
    <div class="card">
      <form class="login-form" [formGroup]="loginFg">
        <div class="form-group">
          <input type="email" class="form-control custom-input" id="email" placeholder="User Email *" name="email" formControlName="userEmail" [(ngModel)]="userEmail">
        </div>
        <div class="form-group p-relative">
          <input [type]="inputType" class="form-control custom-input" id="pwd" placeholder="Password *" name="pwd" formControlName="password" [(ngModel)]="password">
          <!-- <mat-icon matSuffix [color]="passwordshown === true ? 'dark' :'gray'" item-end (click)="togglePassword();">{{passwordshown ?  'visibility_off': 'visibility'}}</mat-icon> -->
          <i  (click)="inputType='text';
          this.passwordshown =! this.passwordshown;" *ngIf="!passwordshown" class="material-icons visible">
            visibility
            </i>
            <i (click)="inputType='password';
            this.passwordshown =! this.passwordshown;" class="material-icons visible" *ngIf="passwordshown">
              visibility_off
              </i>
          
        </div>
        <div class="form-group">
          <input type="text" class="form-control custom-input" placeholder="Project" formControlName="projectName" [(ngModel)]="projectName">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember" [checked]="check" (change)="isChecked($event, check)"> Remember me
          </label>
        </div>
        <p class="text-center">
          <button type="submit" class="btn btn-default login-btn" (click)="loginUser()">Log In</button>
        </p>
      </form>
    </div>
  </div>
</div>
