.heading-modal-od{
    padding: 10px 10px 0px 10px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    background: #7093ac;
    margin: 0px !important;
    overflow: hidden !important;
}
.openpmsubassembliescomponenetdialog .mat-dialog-container{
    padding: 0px !important;
}
.close-btn-od {
    float: right;
    top: -5px;
}
.left-label{
    float: left;
}
.right-field{
    float: right;
}
.clear {
    clear: both;
}
.mt-18{
    margin-top: 18px;
}
.mb-18{
    margin-bottom: 18px;
}
.right-field-checkbox{
    float: right;
    margin-top: 18px;
    width: 50%;
}
.bg-blue-btn-save{
    background-color: #6f92ac;
    color: #fff;
}
cdk-virtual-scroll-viewport{
    overflow-x: hidden !important;
}
.mat-option-text{
    font-size: 10px !important;
}
/* .cdkscroll-select cdk-virtual-scroll-viewport mat-option{
font-size: 10px !important;
} */