
  <p mat-dialog-title class="heading-modal-od">Add PM Sub-Assemblies/Component <button class="close-btn-od" (click)="onNoClick()" mat-icon-button>
    <mat-icon>close</mat-icon>
    </button></p>
<div class="px-15">
    <div class="clear">
        <p class="left-label mt-18">Material</p>
        <mat-form-field class="right-field">
          <input matInput name="material" [(ngModel)]="subAssembly.Material1" >
        </mat-form-field>
      </div>
<div class="clear">
  <p class="left-label mt-18">MatDesc</p>
  <mat-form-field class="right-field">
    <input matInput name="description" ngDefaultControl [(ngModel)]="subAssembly.MatDesc">
  </mat-form-field>
</div>
<div class="clear ">
  <p class="left-label mt-18">Manufacturer</p>
      <mat-form-field floatLabel="never" class="right-field">

            <mat-select [(ngModel)]="manifacturer" class="">
              <cdk-virtual-scroll-viewport float="never" (scroll)="getManifacturers($event)" [itemSize]=10  [style.height.px]=150>
                <mat-option (scroll)="getManifacturers($event)" *cdkVirtualFor="let i of manifacturerDropdown;let ind = index"(onSelectionChange)="manifacturer=manifacturerDropdown[ind]"  [value]="i" >
                    {{i}}
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-select>
        
        </mat-form-field>

</div>
<div class="clear">
    <p class="left-label mt-18">Model</p>
    <mat-form-field class="right-field">
      <input matInput name="model" [(ngModel)]="subAssembly.Model">
    </mat-form-field>
  </div>
  <div class="clear">
      <p class="left-label mt-18">UOM</p>
      <mat-form-field class="right-field" hintLabel="Max 6 characters only">
        <input matInput  name="uom"[(ngModel)]="subAssembly.UOM" >
      </mat-form-field>
    </div>
    <div class="clear">
      <p class="left-label mt-18">IsSubAssembly</p>
      <mat-checkbox [(ngModel)]="subAssembly.IsSubAssay" class="right-field-checkbox"></mat-checkbox>
    </div>
    <div class="clear">
      <p class="left-label mt-18">RefNo</p>
      <mat-form-field class="right-field">
        <input matInput name="refno" [(ngModel)]="subAssembly.RefNo">
      </mat-form-field>
    </div>
    <div style="text-align: center" class="clear mt-18 mb-18">
        <button mat-raised-button (click)="saveSubAssembly()" class="bg-blue-btn-save">Save</button>
    </div>
</div>