<mat-spinner *ngIf="loadinController" mode="indeterminate" class="center-div" [diameter]="50"></mat-spinner>
<div [ngClass]="loadinController == true?'home-page low-opacity':'home-page'">
  <!-- homepage starts -->

  <div style="display: block;" class="box-two" *ngIf="!this.show">
    <as-split class="mega-box">
      <as-split-area size="20" class="left-pane">
        <as-split direction="horizontal">
          <as-split-area>
            <button class="collapse-btn left-top-btn" mat-button color="primary" (click)="collapseAll()"><i
                class="fa fa-minus-square" aria-hidden="true"></i></button>
            <button class="collapse-btn left-top-btn" mat-button color="primary"><i (click)="eventOnClick()"
                class="material-icons refresh-icon">
                refresh
              </i></button>

            <mat-tree #tree class="mt-10" [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node [matTooltip]="this.nodeData" *matTreeNodeDef="let node; " class="colorChild"
                (contextmenu)="onContextMenu($event,node.item.floc)" style="cursor:pointer;">
                <p [ngClass]="node.item.floc== this.forViewIconFlocMatch?'colourThis':''"
                  (mouseenter)="mouseHovers(node.item.floc)" (click)="eventOnClick(node.item.floc)"
                  [matTreeNodePadding]="node.level==1?node.level*0.11:node.level*0.2"
                  class="level-{{node.item.flocLevel}}">
                  <button mat-icon-button style="visibility: hidden; " [attr.aria-label]="'toggle ' + node.item.floc"
                    matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror custom-mat-icon">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.item.floc}}&nbsp; &nbsp; - &nbsp; &nbsp; {{node.item.floc=='Project'?'':node.item.shortText}}
                </p>
              </mat-tree-node>

              <mat-tree-node [ngClass]="node.item.floc=='Project'?'custom-title':''" [matTooltip]="this.nodeData"
                *matTreeNodeDef="let node; when: hasChild" class="colorChild"
                (contextmenu)="onContextMenu($event,node.item.floc)" style="cursor:pointer;">
                <p [ngClass]="treeControl.isExpanded(node) && node.item.floc!='Project' ?'treeClicked':''"
                  (mouseenter)="mouseHovers(node.item.floc)" style="position: relative;"
                  (click)="eventOnClick(node.item.floc)" [attr.aria-label]="'toggle ' + node.item.floc"
                  matTreeNodeToggle [matTreeNodePadding]="node.level*0.2" class="level-{{node.item.flocLevel}}">
                  <button mat-icon-button [attr.aria-label]="'toggle ' + node.item.floc" matTreeNodeToggle>
                    <mat-icon [ngClass]="node.item.floc=='Project'?'custom-title':''"
                      class="mat-icon-rtl-mirror custom-mat-icon">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>{{node.item.floc}} &nbsp; &nbsp; {{node.item.floc=='Project'?'':'-'}} &nbsp; &nbsp;
                  {{node.item.floc=='Project'?'':node.item.shortText}}
                  <mat-spinner *ngIf="node.isLoading && node.item.floc!='Project'"
                    style="margin-left: 125px;z-index: 4444444;width: 15px;height: 15px;position: absolute;left: 50%;top: 4px;"
                    mode="indeterminate" [diameter]="15"></mat-spinner>
                </p>



              </mat-tree-node>
            </mat-tree>

            <!-- code for right click event on flocs-->
            <mat-list>
              <mat-list-item>

                <div style="position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
                  [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{item: item}">
                </div>
              </mat-list-item>
            </mat-list>
            <mat-menu #contextMenu="matMenu" (mouseenter)="mouseHoverOnContextMenu($event)">
              <ng-template matMenuContent>
                <button mat-menu-item *ngIf="this.getDataForContextMenu && this.getDataForContextMenu.ShortText"><b>Floc
                    :</b>Action to be performed</button>
                <button mat-menu-item
                  *ngIf="this.getDataForContextMenu && this.getDataForContextMenu.ShortText"><b>ShortText
                    :</b>{{this.getDataForContextMenu.ShortText}}</button>
                <button mat-menu-item
                  *ngIf="this.getDataForContextMenu && this.getDataForContextMenu.SuperiorFloc"><b>SuperiorFloc
                    :</b>{{this.getDataForContextMenu.SuperiorFloc}}</button>

                <button mat-menu-item
                  *ngIf="!this.getDataForContextMenu || this.getDataForContextMenu.SuperiorFloc == null && this.getDataForContextMenu.ShortText == null"><b>
                    Oops! No Floc Data available</b></button>
                <!-- (click)="onContextMenuAction1(item)" -->
              </ng-template>
            </mat-menu>
            <!--end of code for right click -->
          </as-split-area>

        </as-split>
      </as-split-area>
      <as-split-area size="80" class="right-pane">
        <as-split direction="vertical">
          <as-split-area class="right-pane1" size="33">
            <!-- search bar start-->
            <div class="d-ib  custom-form-bg" style="width:100%;">
              <form class="example-form p-relative wd-78-p d-ib">
                <i class="material-icons searchicon">
                  search
                </i>

                <mat-form-field class="wd-98 home-searchbar searchbar" floatLabel="never">
                  <input style="border-bottom:transparent;" type="text" placeholder="Search Floc" matInput
                    [formControl]="myControl" [(ngModel)]="searchFloc" (input)="serachingFlocMethod($event,searchFloc)"
                    [matAutocomplete]="auto">
                  <mat-spinner *ngIf="this.showSearchingLoader"
                    style="margin-left: 10px;z-index: 4444444;width: 15px;height: 15px;position: absolute;left: 95%;top: 4px;"
                    mode="indeterminate" [diameter]="15"></mat-spinner>

                  <button mat-button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon class="white-color" (click)="closeSearchBarOptions();searchFloc='';">close</mat-icon>
                  </button>
                </mat-form-field>

                <!-- <mat-form-field class="wd-98 home-searchbar searchbar">
                <input type="text" placeholder="Search Floc" matInput [formControl]="myControl" [(ngModel)]="searchFloc"
                  (input)="serachingFlocMethod($event,searchFloc)" [matAutocomplete]="auto">
                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon  class="white-color"
                    (click)="closeSearchBarOptions();searchFloc='';">close</mat-icon>
                </button>
              </mat-form-field> -->


                <mat-autocomplete #auto="matAutocomplete" disableRipple>

                  <div id="options" class="home-option">
                    <mat-option *ngIf="this.matOption && showSearchOptions">{{this.matOption}}
                    </mat-option>

                    <mat-option>
                      <div class="scroll-table-option">
                        <table
                          *ngIf="this.dataForSearchTable && this.dataForSearchTable.length > 0 && !showSearchOptions ">
                          <tr>
                            <td><b>ObjType</b></td>
                            <td><b>Floc</b></td>
                            <td><b>ShortText</b></td>
                            <td><b>PerfStd</b></td>
                            <td><b>SuperiorFloc</b></td>
                            <td><b>EDCCode</b></td>
                            <td><b>ConsType</b></td>
                          </tr>
                          <tr *ngFor="let i of this.dataForSearchTable" (click)="eventOnClick(i.Floc,true)">
                            <td>{{i.ObjType}}</td>
                            <td>{{i.Floc}}</td>
                            <td>{{i.ShortText}}</td>
                            <td>{{i.PerfStd}}</td>
                            <td>{{i.SuperiorFloc}}</td>
                            <td>{{i.EDCCode}}</td>
                            <td>{{i.ConsType}}</td>
                          </tr>
                        </table>
                      </div>
                    </mat-option>
                  </div>

                </mat-autocomplete>
                <!-- <div *ngIf="this.flocSearchedShow">
                  <mat-option *ngFor="let i of flocSearched" [value]="i" (click)="eventOnClick(i)">{{i}}</mat-option>
                </div> -->
              </form>

              <div class="wd-10 d-ib text-center p-relative">
                <button mat-raised-button class="excel-button" matTooltip="Export Search result to Xls sheet"
                  (click)="printDataInXls()" style="bottom:6px;">
                  <img class="excel-img" src="../../webuild/assets/images/excel.png"></button>
                <!-- <img class="excel-img" src="../../../Content/images/excel.png" /></button> -->
              </div>
              <!-- button for upload XLSX -->
              <!-- <div class="wd-10 d-ib text-center"> -->
              <div class="d-ib wd-10 text-left p-relative">
                <button mat-raised-button class="excel-button import-btn" style="bottom:6px;">
                  <i class="material-icons">
                    vertical_align_top
                  </i>
                  <div class="excel-button  text-center d-ib p-relative" matTooltip="Import Xls File">
                    <!-- <img class="excel-img-import" src="../../assets/images/excel.png"> -->
                    <ng2-file-input
                      [extensions]="['jpg','png','txt','xlxs','xlsx','docx','doc','jpeg','xls','odt','zip','rar','pdf']"
                      [browse-text]="'Import'" [drop-text]="''" [show-previews]="false" [invalid-file-text]="''"
                      [invalid-file-timeout]="3000" [multiple]="true" (onAction)="uploadDataInXls($event,this.file)">
                    </ng2-file-input>
                    <!-- <button mat-raised-button class="excel-button" (click)="uploadDataInXls($event)">  -->
                  </div>
                </button>
              </div>

            </div>

            <!-- </div> -->
            <!-- end of search bar -->
            <!-- <p class="pane-heading">Frm_FlocTop</p> -->


            <mat-card class="command-bar-box custom-command-bar-box">
              <p class="heading-w-commandbar">Functional Location – Main Data</p>
              <div class="command-bar">
                <i matTooltip="Delete" class="material-icons" (click)="flocDelete()">delete</i>
                <i matTooltip="Remove Row" class="material-icons" (click)="removeTopFLocRow()">remove_circle</i>
                <i matTooltip="Add Row" class="material-icons" (click)="addTopFLocRow()">add_circle</i>

                <!-- <i matTooltip="New File" class="material-icons" (click)="uploadDataInXls($event)">
                  insert_drive_file
                </i> <i matTooltip="New Directory" class="material-icons">
                  folder_open
                </i> -->
                <i matTooltip="Save Floc Data" class="material-icons" (click)="saveTopRightData(ObjType)">save</i>
                <!-- <i matTooltip="Undo" class="material-icons">
                  undo
                </i>
                <i matTooltip="Redo" class="material-icons">
                  redo
                </i>
                <i matTooltip="Cut" class="material-icons">
                  filter_none
                </i>

                <i matTooltip="Copy" class="material-icons">
                  file_copy
                </i><i matTooltip="Paste" class="material-icons">
                  layers
                </i><i matTooltip="Print" class="material-icons">
                  print
                </i> -->
              </div>

            </mat-card>


            <!-- <div style="overflow:auto !important;" >
                <div class="d-ib" *ngIf="this.firstTableData">
                    <div class="mnmx-50 d-ib" >
                        <div>
                          <p class="custom-btn-flock">Level:</p>
                          <select class="mt-10 wd-40" placeholder="Level"
                            *ngIf="this.firstTableData "
                            [(ngModel)]="this.firstTableData.FlocLevel">
                            <option *ngFor="let i of this.dropDownValues.result[0].flocLevel" [value]="i.LevelID">
                              {{i.LevelID}}
                            </option>
                          </select>
                          
                        </div>
                    </div>

                      <div class="mnmx-120 d-ib">
                        <div class="text-center">
                          <p class="custom-btn-objtype">Obj Type:</p>
                          
                        <select class="mt-10 wd-80"
                          *ngIf="this.firstTableData && this.dropDownValues && this.dropDownValues.result[0].objType"
                          [(ngModel)]="this.firstTableData.ObjType">
      
                          <option *ngFor="let i of this.dropDownValues.result[0].objType" [value]="i.ObjType1">
                            {{i.ObjType1}}{{this.firstTableData.ObjType == i.ObjType1?'':'-'}}{{this.firstTableData.ObjType == i.ObjType1?'':i.ObjTypeDesc}}
                          </option>
                        </select>
                      
                      </div>
                      </div>
                    
                      <div class="mnmx-210 d-ib">
                          <div>
                              <p class="custom-btn-flock" style="float: left;">Functional Location</p>
                              <mat-form-field style="width:209px !important;">
                                <input class="ellipsis" matInput 
                                  [(ngModel)]="this.firstTableData.Floc1">
                              </mat-form-field>
                          </div>  
      
                      </div>
      
                      <div class="mnmx-360 d-ib">
                          <div>
                              <p class="label-second-line custom-btn-flock" style="float: left; ">Description</p>
                              <mat-form-field *ngIf="this.firstTableData" class="ellipsis-text">
                                <input class="ellipsis" matInput [(ngModel)]="this.firstTableData.ShortText">
            
                              </mat-form-field>
                            </div>
      
                      </div>
                      
                      <div class="mnmx-120 d-ib">
                          <div>
                              <p class="custom-btn-flock">ABC</p>
                            <select class="mt-10 wd-100" placeholder="ABC"
                              *ngIf="this.dropDownValues && this.dropDownValues.result[0] &&this.dropDownValues.result[0].aBC && this.firstTableData"
                              [(ngModel)]="this.firstTableData.ABC">
          
                              <option *ngFor="let i of this.dropDownValues.result[0].aBC" [value]="i.ABCValue">
                                {{i.ABCValue}}{{this.firstTableData.ABC == i.ABCValue?'':'-'}}{{this.firstTableData.ABC == i.ABCValue?'':i.ABCDesc}}
                              </option>
                            </select>                
          
                          </div>
                      </div>

                      <div class="mnmx-50 height-70 d-ib" style="vertical-align:top;">
                        <div>
                          <p class="custom-btn-flock custom-chkbox">Ex</p>
                          <mat-checkbox  disableRipple *ngIf="this.firstTableData && this.firstTableData.ExInd != null"
                            [(ngModel)]="this.firstTableData.ExInd" class="ex-checkbox"></mat-checkbox>
                      </div>
                      </div>

                      <div class="mnmx-200 d-ib">
                          <div>
          
                            <p  class="custom-btn-flock">PerfStd</p>
          
                                                          <mat-form-field style="display:block !important;width:110px !important;" class="custom-selector-mat">                           
                                                            <mat-select [disableOptionCentering]="true" panelClass="myPanelClass custom-mat-option"  multiple>
                                                              <mat-option *ngFor="let i of this.dropDownValues.result[0].perfStd"  [value]="i.PerfStd1"> {{i.PerfStd1}}</mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                        
                        </div>
                      </div>

                      <div class="mnmx-120 d-ib">
                      <div>
          
                          <p class="custom-btn-flock">PS App/Del:</p>
                          <select class="mt-10 wd-100" placeholder="perf std appeal" *ngIf="this.firstTableData"
                            [(ngModel)]="this.firstTableData.PerfStdAppDel">
      
                            <option *ngFor="let i of this.dropDownValues.result[0].perfStdAppDel" [value]="i.PerfStdAppDel1">
                              {{i.PerfStdAppDel1}}
                            </option>
                          </select>
                        
                      </div>
                      </div>
                      
                </div>

                <div class="row"  *ngIf="this.firstTableData">
                    <div class="col-md-3 col-md-offset-1">
                        <div>
                            <p class="label-second-line custom-btn-flock" style="float: left;">Superior: </p>
                          <mat-form-field class="mw-110">
                          
                            
                            <input matInput 
                              [(ngModel)]="this.firstTableData.SuperiorFloc">
                          </mat-form-field>
                        </div>
                      </div>

                    <div class="col-md-2">
                    <div>
                        <p class="custom-btn-flock" style="float: left;">BOM Req'd: </p>
                        <select class="wd-47" placeholder="bom reqd" *ngIf="this.firstTableData"
                          [(ngModel)]="this.firstTableData.BomReqd">
      
                          <option *ngFor="let i of this.dropDownValues.result[0].bomRequired" [value]="i.BomRqd">
                            {{i.BomRqd}}
                          </option>
                        </select>
      
                      </div>
                    </div>            

                    <div class="col-md-4">
                        <div>
                            <p class="label-second-line custom-btn-flock" style="float: left; ">Const Type: </p>
                            <mat-form-field *ngIf="this.firstTableData">
                              <input matInput [(ngModel)]="this.firstTableData.ConsType">
          
                            </mat-form-field>
                          </div>
                      </div>

                      <div class="col-md-2">
                          <div>
                              <p class="label-second-line custom-btn-flock" style="float: left;">Serial No: </p>
                              <mat-form-field  class="mw-100">
                                <input matInput [(ngModel)]="this.firstTableData.SerialNo">
                              </mat-form-field>
                            </div>
                        </div>

                    

                  
                </div>

                <div class="row"  *ngIf="this.firstTableData">

                  <div class="col-md-3 col-md-offset-1">
                      <div>
                          <p class="label-second-line custom-btn-flock" style="float: left;">EDC code: </p>
                          <mat-form-field *ngIf="this.firstTableData " class="mw-110">
                            <input matInput value="" [(ngModel)]="this.firstTableData.EDCCode">
        
                          </mat-form-field>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div>
                          <p class="label-second-line custom-btn-flock" style="float: left;">Startup Date: </p>                     
                          <mat-form-field class="mw-110" *ngIf="firstTableData">
                            <input [(ngModel)]="firstTableData.StartUpDate" (click)="picker.open()" matInput
                              [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
        
                        </div>

                  </div>
                  <div class="col-md-3">
                      <div>
                          <p class="label-second-line custom-btn-flock" style="float: left;">PLANT: </p>
                          <select class="mt-10" placeholder="datadrop" *ngIf="this.firstTableData"
                            [(ngModel)]="this.firstTableData.MaintPlant">
      
                            <option *ngFor="let i of this.dropDownValues.result[0].plant" [value]="i.Plant1">
                              {{i.Plant1}}
                            </option>
                          </select>
              
                        </div>
                  
                  </div>


                
                </div>
            </div> -->


            <!-- this is mani singh -->
            <!-- <table style="padding-left:10px;" class="main-data-table" *ngIf="this.firstTableData">
              <tbody>
                <tr>
                  <th width="50" class="mnmx-50">Level:</th>
                  <th width="120" class="mnmx-120 text-center">Obj Type:</th>
                  <th width="300" class="mnmx-300">Functional Location:</th>
                  <th width="430" class="mnmx-430">Description:</th>
                  <th width="120" class="mnmx-120">ABC:</th>
                  <th width="50" class="mnmx-50 text-center">Ex</th>
                  <th width="200" class="mnmx-200">PrefStd:</th>
                  <th width="120" class="mnmx-120">Ps App/Del:</th>
                </tr>
                <tr>
                  <td width="50" class="mnmx-50"> <select class="wd-40" placeholder="Level" *ngIf="this.firstTableData "
                      [(ngModel)]="this.firstTableData.FlocLevel">
                      <option *ngFor="let i of this.dropDownValues.result[0].flocLevel" [value]="i.LevelID">
                        {{i.LevelID}}
                      </option>
                    </select>
                  </td>
                  <td class="text-center"> <select class="wd-80"
                      *ngIf="this.firstTableData && this.dropDownValues && this.dropDownValues.result[0].objType"
                      [(ngModel)]="this.firstTableData.ObjType">

                      <option *ngFor="let i of this.dropDownValues.result[0].objType" [value]="i.ObjType1">
                        {{i.ObjType1}}{{this.firstTableData.ObjType == i.ObjType1?'':'-'}}{{this.firstTableData.ObjType == i.ObjType1?'':i.ObjTypeDesc}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <mat-form-field style="margin-right:10px;" class="ellipsis-text-floc">
                      <input class="ellipsis" matInput [(ngModel)]="this.firstTableData.Floc1">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field *ngIf="this.firstTableData" class="mnmx-430" style="margin-right:10px;">
                      <input class="ellipsis" matInput [(ngModel)]="this.firstTableData.ShortText">

                    </mat-form-field>
                  </td>
                  <td> <select class="wd-100" placeholder="ABC"
                      *ngIf="this.dropDownValues && this.dropDownValues.result[0] &&this.dropDownValues.result[0].aBC && this.firstTableData"
                      [(ngModel)]="this.firstTableData.ABC">

                      <option *ngFor="let i of this.dropDownValues.result[0].aBC" [value]="i.ABCValue">
                        {{i.ABCValue}}{{this.firstTableData.ABC == i.ABCValue?'':'-'}}{{this.firstTableData.ABC == i.ABCValue?'':i.ABCDesc}}
                      </option>
                    </select> </td>
                  <td class="text-center">

                    <mat-checkbox (change)="toggleSelector($event)" disableRipple *ngIf="this.firstTableData"
                      [checked]="this.firstTableData.ExInd" class="ex-checkbox"></mat-checkbox>
                  </td>
                  <td>
                    <div [formGroup]="multiSelector">
                      <mat-form-field style="display:block !important;width:110px !important;"
                        class="custom-selector-mat">
                        <mat-select [(ngModel)]="this.firstTableData.PerfStd" formControlName="activityId"
                          ngDefaultControl [disableOptionCentering]="true" panelClass="myPanelClass custom-mat-option"
                          multiple>
                          <mat-option *ngFor="let i of this.dropDownValues.result[0].perfStd" [value]="i.PerfStd1">
                            {{i.PerfStd1}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                  <td> <select class="wd-100" placeholder="perf std appeal" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.PerfStdAppDel">

                      <option *ngFor="let i of this.dropDownValues.result[0].perfStdAppDel" [value]="i.PerfStdAppDel1">
                        {{i.PerfStdAppDel1}}
                      </option>
                    </select></td>

                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th width="300" class="mnmx-300">Superior:</th>
                  <th width="75" class="mnmx-75">Bom Req'd</th>
                  <th width="120" class="mnmx-120">Const Type:</th>               
                  <th width="120" class="mnmx-120">Ps App/Del:</th>
                  <th width="360" class="mnmx-100">Serial No:</th>

                </tr>
                <tr>
                  <td>
                    <mat-form-field class="mnmx-300" style="margin-right:10px !important;">

                      <input matInput [(ngModel)]="this.firstTableData.SuperiorFloc">
                    </mat-form-field>
                  </td>
                  <td> <select class="wd-47" placeholder="bom reqd" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.BomReqd">

                      <option *ngFor="let i of this.dropDownValues.result[0].bomRequired" [value]="i.BomRqd">
                        {{i.BomRqd}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <mat-form-field *ngIf="this.firstTableData" class="mnmx-120" style="margin-right: 10px;">
                      <input matInput [(ngModel)]="this.firstTableData.ConsType">

                    </mat-form-field>
                  </td>                

                  <td> <select class="wd-100" placeholder="perf std appeal" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.PerfStdAppDel">

                      <option *ngFor="let i of this.dropDownValues.result[0].perfStdAppDel" [value]="i.PerfStdAppDel1">
                        {{i.PerfStdAppDel1}}
                      </option>
                    </select></td>
                  <td>
                    <mat-form-field class="mw-100" style="margin-right:10px;">
                      <input matInput [(ngModel)]="this.firstTableData.SerialNo">
                    </mat-form-field>
                  </td>

                </tr>


              </tbody>
              <tbody>

                <tr>
                  <th width="300" class="mnmx-300">Edc Code:</th>
                  <th width="120" class="mnmx-120">Start Up Date: </th>
                  <th width="100" class="mnmx-100">PLANT: </th>
                </tr>
                <tr>
                  <td>
                    <mat-form-field *ngIf="this.firstTableData " class="mnmx-300" style="margin-right:10px;">
                      <input matInput value="" [(ngModel)]="this.firstTableData.EDCCode">

                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="mw-110" *ngIf="firstTableData">
                      <input [(ngModel)]="firstTableData.StartUpDate" (click)="picker.open()" matInput
                        [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td> <select class="mt-10" placeholder="datadrop" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.MaintPlant">

                      <option *ngFor="let i of this.dropDownValues.result[0].plant" [value]="i.Plant1">
                        {{i.Plant1}} {{i.Plant1==this.firstTableData.MaintPlant?"":i.PlantDesc}}
                      </option>
                    </select>
                  </td>



                </tr>
              </tbody>
            </table> -->


            <table style="padding-left:10px;" class="main-data-table" *ngIf="this.firstTableData">
              <tbody>
                <tr>
                  <th width="50" class="mnmx-50">Level:</th>
                  <th width="120" class="mnmx-120 text-center">Obj Type:</th>
                  <th width="300" class="mnmx-300">Functional Location:</th>
                  <th width="430" class="mnmx-430">Description:</th>
                  <th width="70" class="mnmx-70">ABC:</th>
                  <th width="50" class="mnmx-50 text-center">Ex</th>
                  <th width="300" class="mnmx-300">PrefStd:</th>
                  <th width="120" class="mnmx-120">Ps App/Del:</th>
                </tr>
                <tr>
                  <td width="50" class="mnmx-50"> <select class="wd-40" placeholder="Level" *ngIf="this.firstTableData "
                      [(ngModel)]="this.firstTableData.FlocLevel">
                      <option *ngFor="let i of this.dropDownValues.result[0].flocLevel" [value]="i.LevelID">
                        {{i.LevelID}}
                      </option>
                    </select>
                  </td>
                  <td class="text-center"> <select class="wd-80"
                      *ngIf="this.firstTableData && this.dropDownValues && this.dropDownValues.result[0].objType"
                      [(ngModel)]="this.firstTableData.ObjType">

                      <option *ngFor="let i of this.dropDownValues.result[0].objType" [value]="i.ObjType1">
                        {{i.ObjType1}}{{this.firstTableData.ObjType == i.ObjType1?'':'-'}}{{this.firstTableData.ObjType == i.ObjType1?'':i.ObjTypeDesc}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <mat-form-field style="margin-right:10px;" class="ellipsis-text-floc">
                      <input class="ellipsis" matInput [(ngModel)]="this.firstTableData.Floc1">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field *ngIf="this.firstTableData" class="mnmx-430" style="margin-right:10px;">
                      <input class="ellipsis" matInput [(ngModel)]="this.firstTableData.ShortText">

                    </mat-form-field>
                  </td>
                  <td> <select class="mnmx-70" placeholder="ABC"
                      *ngIf="this.dropDownValues && this.dropDownValues.result[0] &&this.dropDownValues.result[0].aBC && this.firstTableData"
                      [(ngModel)]="this.firstTableData.ABC">

                      <option *ngFor="let i of this.dropDownValues.result[0].aBC" [value]="i.ABCValue">
                        {{i.ABCValue}}{{this.firstTableData.ABC == i.ABCValue?'':'-'}}{{this.firstTableData.ABC == i.ABCValue?'':i.ABCDesc}}
                      </option>
                    </select> </td>
                  <td class="text-center">

                    <mat-checkbox (change)="toggleSelector($event)" disableRipple *ngIf="this.firstTableData"
                      [checked]="this.firstTableData.ExInd" class="ex-checkbox"></mat-checkbox>
                  </td>
                  <td>
                    <div [formGroup]="multiSelector">
                      <mat-form-field style="display:block !important;width:272px !important;"
                        class="custom-selector-mat">
                        <mat-select [(ngModel)]="this.firstTableData.PerfStd" formControlName="activityId"
                          ngDefaultControl [disableOptionCentering]="true" panelClass="myPanelClass custom-mat-option"
                          multiple>
                          <mat-option *ngFor="let i of this.dropDownValues.result[0].perfStd" [value]="i.PerfStd1">
                            {{i.PerfStd1}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </td>
                  <td> <select class="" placeholder="perf std appeal" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.PerfStdAppDel">

                      <option *ngFor="let i of this.dropDownValues.result[0].perfStdAppDel" [value]="i.PerfStdAppDel1">
                        {{i.PerfStdAppDel1}}
                      </option>
                    </select></td>

                </tr>

                <tr>
                    <td></td>
                    <td class="text-center"><span class="custom-td-text">Superior: </span></td>
                    <td>
                        <mat-form-field class="mnmx-300" style="margin-right:10px !important;">
    
                          <input matInput [(ngModel)]="this.firstTableData.SuperiorFloc">
                        </mat-form-field>
                       </td>
                    
                      <td> <span class="custom-td-text">BOM Req'd: </span>
                         <select  style="margin-right:45px !important;margin-left:10px !important;" class="wd-47" placeholder="bom reqd" *ngIf="this.firstTableData"
                          [(ngModel)]="this.firstTableData.BomReqd">
    
                          <option *ngFor="let i of this.dropDownValues.result[0].bomRequired" [value]="i.BomRqd">
                            {{i.BomRqd}}
                          </option>
                        </select>
                       <span class="custom-td-text">Const Type: </span>
                        <mat-form-field *ngIf="this.firstTableData" class="mnmx-120" style="margin-right: 10px;">
                            <input matInput [(ngModel)]="this.firstTableData.ConsType">
      
                          </mat-form-field>
                      </td>                                
                    
                      <span class="custom-td-text text-right">Serial No:</span>
                      <td>  
                        <mat-form-field style="position: relative;left:-30px;" class="mw-100" style="margin-right:10px;">
                          <input matInput [(ngModel)]="this.firstTableData.SerialNo">
                        </mat-form-field>
                      </td>
                      <td></td>

                </tr>
              
                <tr>
                    <td></td>
                    <td class="text-center custom-td-text">EDC code:</td>
                    <td>
                      <mat-form-field *ngIf="this.firstTableData " class="mnmx-300" style="margin-right:10px;">
                        <input matInput value="" [(ngModel)]="this.firstTableData.EDCCode">
  
                      </mat-form-field>
                    </td>
                
                    <td> <span class="custom-td-text"> Start Up Date :</span>
                      <mat-form-field style="margin-right:20px;" class="mw-120" *ngIf="firstTableData">
                        <input [(ngModel)]="firstTableData.StartUpDate" (click)="picker.open()" matInput
                          [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <span class="custom-td-text">PLANT: </span> 
                      <!-- style="position: relative; bottom: 31px;left: 63px;" -->
                      <select style="margin-left:10px;" class="mt-10" placeholder="datadrop" *ngIf="this.firstTableData"
                        [(ngModel)]="this.firstTableData.MaintPlant">
  
                        <option *ngFor="let i of this.dropDownValues.result[0].plant" [value]="i.Plant1">
                          {{i.Plant1}} {{i.Plant1==this.firstTableData.MaintPlant?"":i.PlantDesc}}
                        </option>
                      </select>
                    </td>
                  
                    <!-- <td><span class="custom-td-text">PLANT: </span> 
                      <select style="position: relative; bottom: 31px;left: 63px;" class="mt-10" placeholder="datadrop" *ngIf="this.firstTableData"
                        [(ngModel)]="this.firstTableData.MaintPlant">
  
                        <option *ngFor="let i of this.dropDownValues.result[0].plant" [value]="i.Plant1">
                          {{i.Plant1}} {{i.Plant1==this.firstTableData.MaintPlant?"":i.PlantDesc}}
                        </option>
                      </select>
                    </td> -->
                    <!-- <td></td> -->
  
  
  
                  </tr>
              </tbody>

              <!-- <tbody>
                <tr>
                  <th width="300" class="mnmx-300">Superior:</th>
                  <th width="75" class="mnmx-75">Bom Req'd</th>
                  <th width="120" class="mnmx-120">Const Type:</th>               
                  <th width="120" class="mnmx-120">Ps App/Del:</th>
                  <th width="360" class="mnmx-100">Serial No:</th>

                </tr>
                <tr>
                  <td>
                    <mat-form-field class="mnmx-300" style="margin-right:10px !important;">

                      <input matInput [(ngModel)]="this.firstTableData.SuperiorFloc">
                    </mat-form-field>
                  </td>
                  <td> <select class="wd-47" placeholder="bom reqd" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.BomReqd">

                      <option *ngFor="let i of this.dropDownValues.result[0].bomRequired" [value]="i.BomRqd">
                        {{i.BomRqd}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <mat-form-field *ngIf="this.firstTableData" class="mnmx-120" style="margin-right: 10px;">
                      <input matInput [(ngModel)]="this.firstTableData.ConsType">

                    </mat-form-field>
                  </td>
               

                  <td> <select class="wd-100" placeholder="perf std appeal" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.PerfStdAppDel">

                      <option *ngFor="let i of this.dropDownValues.result[0].perfStdAppDel" [value]="i.PerfStdAppDel1">
                        {{i.PerfStdAppDel1}}
                      </option>
                    </select></td>
                  <td>
                    <mat-form-field class="mw-100" style="margin-right:10px;">
                      <input matInput [(ngModel)]="this.firstTableData.SerialNo">
                    </mat-form-field>
                  </td>

                </tr>


              </tbody> -->
              <!-- <tbody>
                <tr>
                  <th width="300" class="mnmx-300">Edc Code:</th>
                  <th width="120" class="mnmx-120">Start Up Date: </th>
                  <th width="100" class="mnmx-100">PLANT: </th>
                </tr>
                <tr>
                  <td>
                    <mat-form-field *ngIf="this.firstTableData " class="mnmx-300" style="margin-right:10px;">
                      <input matInput value="" [(ngModel)]="this.firstTableData.EDCCode">

                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="mw-110" *ngIf="firstTableData">
                      <input [(ngModel)]="firstTableData.StartUpDate" (click)="picker.open()" matInput
                        [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td> <select class="mt-10" placeholder="datadrop" *ngIf="this.firstTableData"
                      [(ngModel)]="this.firstTableData.MaintPlant">

                      <option *ngFor="let i of this.dropDownValues.result[0].plant" [value]="i.Plant1">
                        {{i.Plant1}} {{i.Plant1==this.firstTableData.MaintPlant?"":i.PlantDesc}}
                      </option>
                    </select>
                  </td>



                </tr>
              </tbody> -->
              
            </table>


          </as-split-area>
          <as-split-area class="right-pane2" size="67" id="splitRight">
            <!-- <p class="pane-heading">Frm_FlocBottom</p> -->
            <mat-card class="command-bar-box">
              <p class="heading-w-commandbar">Additional Data</p>
              <div class="command-bar">
                <i (click)="updateFlocBottomData()" matTooltip="Save Floc Data" class="material-icons">
                  save
                </i>

              </div>
            </mat-card>
            <div>
              <mat-tab-group (selectedTabChange)="selectedTab($event)" class="tabgroup-bottom">
                <mat-tab label="Document">

                  <!-- table2 data starts -->

                  <table mat-table *ngIf="docsRelatedData" [dataSource]="myDataArray"
                    class="mat-elevation-z8 custom-table-second  custom-table-border floc-btm-table">


                    <ng-container matColumnDef="first">
                      <th mat-header-cell *matHeaderCellDef class="mw-60" width="60"> </th>
                      <td mat-cell *matCellDef="let element" class="mw-60" width="60">

                        <mat-icon>play_arrow</mat-icon>

                      </td>
                    </ng-container>


                    <ng-container matColumnDef="second">
                      <th mat-header-cell *matHeaderCellDef class="mw-90" width="110"> Floc </th>
                      <td mat-cell *matCellDef="let element" class="mw-90" width="110">
                        <!-- <mat-select placeholder="">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </mat-option>
                      </mat-select> -->
                        <mat-form-field class="mw-90" *ngIf="this.docsRelatedData && this.docsRelatedData.Floc">
                          <input matInput [(ngModel)]="this.docsRelatedData.Floc">
                        </mat-form-field>
                      </td>
                    </ng-container>


                    <ng-container matColumnDef="third">
                      <th mat-header-cell *matHeaderCellDef class="mw-110" width="140" style="padding-left: 27px;">
                        Document </th>
                      <td mat-cell *matCellDef="let element" width="200">
                        <mat-form-field class="mw-20 mr-10"
                          *ngIf="this.docsRelatedData && this.docsRelatedData.DocDesc && this.docsRelatedData.DocID">
                          <input class="custom-number" readonly matInput [(ngModel)]="this.docsRelatedData.DocID">

                        </mat-form-field>
                        <select (change)="changeAdditionalData(this.docsRelatedData.SourceID)"
                          [(ngModel)]="this.docsRelatedData.SourceID">
                          <option [value]="data.SourceID" *ngFor="let data of this.documentList">
                            {{data.SourceID}}
                          </option>
                        </select>
                        <!-- <mat-form-field class="mw-80"
                          *ngIf="this.docsRelatedData && this.docsRelatedData.DocDesc && this.docsRelatedData.DocID">

                          <input class="custom-text" matInput [(ngModel)]="this.docsRelatedData.SourceID">
                        </mat-form-field> -->
                      </td>
                    </ng-container>


                    <ng-container matColumnDef="fourth">
                      <th mat-header-cell *matHeaderCellDef class="mw-40" width="40"> </th>
                      <td mat-cell *matCellDef="let element" class="mw-40" width="40" style="padding-right:30px;">
                        <button mat-button class="open-floc-modal" (click)="openDialog()"><i class="material-icons">
                            more_horiz
                          </i></button> </td>
                    </ng-container>

                    <ng-container matColumnDef="fifth">
                      <th mat-header-cell *matHeaderCellDef> Document Description </th>
                      <td mat-cell *matCellDef="let element">
                        <mat-form-field class="custom-doc-width"
                          *ngIf="this.docsRelatedData && this.docsRelatedData.SourceID">
                          <input matInput [(ngModel)]="this.docsRelatedData.DocDesc">
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                  </table>

                  <!-- table2 data ends -->

                </mat-tab>
                <mat-tab label="Ex Data">
                  <mat-card *ngIf="this.secondTableData" class="custom-tab-background">
                    <div class="custom-flex-direction">
                      <div class="left-bottom-box1">
                        <div>
                          <p>Floc</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.Floc">
                          </mat-form-field>

                        </div>
                        <div>
                          <p>Certificate Number</p>
                          <mat-form-field *ngIf="this.secondTableData ">
                            <input matInput [(ngModel)]="this.secondTableData.CertificateNumber">
                          </mat-form-field>

                        </div>
                        <div>
                          <p>Certificate Authority</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" [(ngModel)]="this.secondTableData.CertificateAuthority">

                              <option *ngFor="let i of this.dropDownValues.result[0].certificateAuthorities"
                                [value]="i.CertificateAuthority1">
                                {{i.CertificateAuthority1}}
                              </option>
                            </select>

                            <!-- <mat-select
                            *ngIf="!(this.secondTableData) || this.secondTableData.CertificateAuthority==null">
                            <mat-option *ngFor="let i of [1,2]" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->

                          </span>

                        </div>
                        <div>
                          <p>Comments</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.Comments">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>Protection Concept</p>
                          <span *ngIf="this.secondTableData">
                            <!-- <select class="custom-select" [(ngModel)]="this.secondTableData.ProtectionConcept">
                            
                              <option *ngFor="let i of this.dropDownValues.result[0].protectionConcepts"
                                [value]="i.ProtectionConcept1">
                                {{i.ProtectionConcept1}}
                              </option>
                            </select> -->

                            <mat-form-field class="custom-selector-mat">
                              <mat-select [(ngModel)]="this.secondTableData.ProtectionConcept"
                                (selectionChange)="changePro(this.secondTableData.ProtectionConcept)"
                                [disableOptionCentering]="true" panelClass="myPanelClass" multiple>
                                <mat-option *ngFor="let i of this.dropDownValues.result[0].protectionConcepts"
                                  [value]="i.ProtectionConcept1"> {{i.ProtectionConcept1}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </span>

                        </div>
                        <div>
                          <p>Protection Concept - Append/Delete</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" [(ngModel)]="this.secondTableData.ProConAppDel">
                              <option *ngFor="let i of this.dropDownValues.result[0].proConAppendDeletes"
                                [value]="i.AppDel">
                                {{i.AppDel}}
                              </option>
                            </select>
                          </span>

                        </div>
                        <div>
                          <p>Gas Group</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" [(ngModel)]="this.secondTableData.GasGroup">

                              <option *ngFor="let i of this.dropDownValues.result[0].gasGroups" [value]="i.GasGroup1">
                                {{i.GasGroup1}}
                              </option>
                            </select>
                          </span>

                        </div>
                        <div>
                          <p>Resultant Ignition Risk</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" placeholder="resultant ignition risk"
                              [(ngModel)]="this.secondTableData.ResultantIgnitionRisk">

                              <option *ngFor="let i of this.dropDownValues.result[0].resultantIgnitionRisks"
                                [value]="i.ResultantIgnitionRisk1">
                                {{i.ResultantIgnitionRisk1}}
                              </option>
                            </select>
                            <!-- <mat-select placeholder="resultant ignition risk"
                            *ngIf="!this.secondTableData || this.secondTableData.ResultantIgnitionRisk==null">
                            <mat-option *ngFor="let i of [1,2]" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>

                        </div>
                      </div>
                      <div class="middle-bottom-box ">
                        <div>
                          <p>Temperature Rating</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" [(ngModel)]="this.secondTableData.TempRating">

                              <option *ngFor="let i of this.dropDownValues.result[0].tempRatings"
                                [value]="i.TempRating1">
                                {{i.TempRating1}}
                              </option>
                            </select>
                            <!-- <mat-select *ngIf="!this.secondTableData">
                            <mat-option *ngFor="let i of [1,2]" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>

                        </div>
                        <div>
                          <p>IP Rating</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" [(ngModel)]="this.secondTableData.IPRating">

                              <option *ngFor="let i of this.dropDownValues.result[0].iPRatings" [value]="i.IPRating1">
                                {{i.IPRating1}}
                              </option>
                            </select>
                            <!-- 
                          <mat-select *ngIf="!this.secondTableData">
                            <mat-option *ngFor="let i of [1,2]" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>
                        </div>
                        <!-- <div fxLayout="row" fxLayoutAlign="space-between center" >
                                              <p>Reference Drawing</p>
                                              <mat-form-field>
                                                <input matInput  *ngIf="this.secondTableData && this.secondTableData.ReferenceDrawing && this.secondTableData.ReferenceDrawing != null" [value]="this.secondTableData.ReferenceDrawing">
                                                <input matInput  *ngIf="!(this.secondTableData)" value="Reference Drawing">
                                              </mat-form-field>
                                          </div> -->
                        <div>
                          <p>Grid Ref</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.GridRef">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>Reference Drawing - Append/Delete</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" placeholder="Reference Drawing"
                              [(ngModel)]="this.secondTableData.RefDrwAppDel">
                              <option *ngFor="let i of this.dropDownValues.result[0].refDrwAppendDeletes"
                                [value]="i.AppDel">
                                {{i.AppDel}}
                              </option>
                            </select>

                          </span>

                        </div>
                        <div>
                          <p>Access Requirement</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" placeholder="Access Requirement"
                              [(ngModel)]="this.secondTableData.AccessRequirement">

                              <option *ngFor="let i of this.dropDownValues.result[0].accessRequirements"
                                [value]="i.AccessRequirement1">
                                {{i.AccessRequirement1}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>Environment Risk Area</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" placeholder="Environment Risk Area"
                              [(ngModel)]="this.secondTableData.EnviromentRiskArea">
                              <option *ngFor="let i of this.dropDownValues.result[0].environmentRiskAreas"
                                [value]="i.EnvironmentRiskArea1">
                                {{i.EnvironmentRiskArea1}}
                              </option>
                            </select>
                          </span>

                        </div>
                        <div>
                          <p>System Current Group</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" placeholder=""
                              [(ngModel)]="this.secondTableData.SystemCurrentGroup">
                              <option *ngFor="let i of this.dropDownValues.result[0].systemCurrentGroups"
                                [value]="i.SystemCurrentGroup1">
                                {{i.SystemCurrentGroup1}}
                              </option>
                            </select>
                          </span>

                        </div>
                        <div>
                          <p>Zone</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" placeholder="zone" [(ngModel)]="this.secondTableData.Zone">
                              <option *ngFor="let i of this.dropDownValues.result[0].zones" [value]="i.Zone1">
                                {{i.Zone1}}
                              </option>
                            </select>
                            <!-- <select placeholder="zone"
                            *ngIf="!this.secondTableData || this.secondTableData.Zone==null">
                            <option *ngFor="let i of [1,2]" [value]="i">
                              {{i}}
                            </option>
                          </select> -->
                          </span>

                        </div>

                      </div>

                      <div class="right-bottom-box1">


                        <div>
                          <p>IS Barrier Make</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" [(ngModel)]="this.secondTableData.ISBarrierMake">

                              <option *ngFor="let i of this.dropDownValues.result[0].iSBarrierMakes"
                                [value]="i.ISBarrierMake1">
                                {{i.ISBarrierMake1}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>IS Barrier Model</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.ISBarrierModel">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>IS Barrier Type</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.ISBarrierType">

                          </mat-form-field>
                        </div>
                        <div>
                          <p>IS Barrier Cert No</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.ISBarrierCertNo">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>IS Barrier Cert Authority</p>
                          <span *ngIf="this.secondTableData">
                            <select class="custom-select" [(ngModel)]="this.secondTableData.ISBarrierCertAuthority">
                              <option *ngFor="let i of this.dropDownValues.result[0].iSCertificateAuthorities"
                                [value]="i.ISCertificateAuthority1">
                                {{i.ISCertificateAuthority1}}
                              </option>
                            </select>
                          </span>

                        </div>
                        <div>
                          <p>IS Barrier Protection</p>
                          <span *ngIf="this.secondTableData">
                            <!-- <option [value]="">select</option> -->

                            <select class="custom-select" [(ngModel)]="this.secondTableData.ISBarrierProtection">


                              <option *ngFor="let i of this.dropDownValues.result[0].iSBarrierProtections "
                                [value]="i.ISBarrierprotection1">
                                {{i.ISBarrierprotection1}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>IS Calc Refernce</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.ISCalcReference">

                          </mat-form-field>
                        </div>
                        <div>
                          <p>IS Loop Diagram</p>
                          <mat-form-field *ngIf="this.secondTableData">
                            <input matInput [(ngModel)]="this.secondTableData.ISLoopDiagram">
                          </mat-form-field>
                        </div>

                      </div>
                    </div>
                  </mat-card>

                </mat-tab>
                <mat-tab label="Other Floc Data">

                  <mat-card *ngIf="this.firstTableData" class="custom-tab-background">
                    <div class="custom-flex-direction">
                      <div class="left-bottom-box1">
                        <div>
                          <p>Ref No</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.RefNo">
                          </mat-form-field>
                        </div>


                        <div>
                          <p>Room</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.Room">

                          </mat-form-field>
                        </div>
                        <div>
                          <p>Long Text</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.FLLongText">

                          </mat-form-field>
                        </div>
                        <div>
                          <p>Safety Grp</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SafetyGrp">

                              <option *ngFor="let i of this.dropDownValues.result[0].safetyGrps" [value]="i.SafetyGrp1">
                                {{i.SafetyGrp1}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>SafGrpAppDel</p>
                          <span *ngIf="this.firstTableData ">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SafGrpAppDel">

                              <option *ngFor="let i of this.dropDownValues.result[0].safetyGrpAppDels"
                                [value]="i.SafGrpAppDel">
                                {{i.SafGrpAppDel}}
                              </option>
                            </select>

                          </span>
                        </div>

                        <div>
                          <p>CertRegNo</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.CertRegNo">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>CertExpiryDate</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.CertExpiryDate">
                          </mat-form-field>
                        </div>

                        <div>
                          <p>Orig PO No</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.OrigPONo">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>Change Package</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [value]="this.firstTableData.ChangePackage">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>SCE Major Accident Event Append/Delete</p>
                          <span *ngIf="this.firstTableData ">

                            <select class="custom-select" [(ngModel)]="this.firstTableData.SCEmajAccEvntAppDel">

                              <option *ngFor="let i of this.dropDownValues.result[0].sCEMajAccEventAppDels"
                                [value]="i.SCEMajorAccidentEventAppDel">
                                {{i.SCEMajorAccidentEventAppDel}}
                              </option>
                            </select>
                            <!-- 
                          <mat-select *ngIf="!this.firstTableData || this.firstTableData.SCEmajAccEvntAppDel==null">
                            <mat-option *ngFor="let i of [1,2,3,4];" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>
                        </div>

                      </div>

                      <div class="middle-bottom-box">
                        <div>
                          <p>Alt FL Number</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.AltFLNumber">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>System Code</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SystemCode">

                              <option *ngFor="let i of this.dropDownValues.result[0].systemCodes"
                                [value]="i.SystemCode1">
                                {{i.SystemCode1}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>Regulatory Body</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.RegulatoryBody">

                              <option *ngFor="let i of this.dropDownValues.result[0].regulatoryBodies"
                                [value]="i.RegBody">
                                {{i.RegBody}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>RegBodyAppDel</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.RegBodyAppDel">

                              <option *ngFor="let i of this.dropDownValues.result[0].regBodyAppDels"
                                [value]="i.RegBodyAppDel1">
                                {{i.RegBodyAppDel1}}
                              </option>
                            </select>
                            <!-- <mat-select *ngIf="!this.firstTableData || this.firstTableData.RegBodyAppDel==null">
                            <mat-option *ngFor="let i of [1,2,3,4];" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>
                        </div>
                        <div>
                          <p>SCE PS Review Team</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SCEPSReviewTeam">

                              <option *ngFor="let i of this.dropDownValues.result[0].sCEPSRevTeams"
                                [value]="i.SCEPSRevTeam1">
                                {{i.SCEPSRevTeam1}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>SCE PS Justification</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SCEPSJustification">

                              <option *ngFor="let i of this.dropDownValues.result[0].sCEPSJustifications"
                                [value]="i.SCEPSJustification1">
                                {{i.SCEPSJustification1}}
                              </option>
                            </select>
                            <!-- 
                          <mat-select *ngIf="!this.firstTableData || this.firstTableData.SCEPSJustification==null">
                            <mat-option *ngFor="let i of [1,2,3,4];" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>
                        </div>
                        <div>
                          <p>SCE Justification AppDel</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SCEJustificationAppDel">

                              <option *ngFor="let i of this.dropDownValues.result[0].sCEJustAppDels"
                                [value]="i.SCEJustificationAppDel">
                                {{i.SCEJustificationAppDel}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>SCE PS Review X1</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.SCEPSReviewX1">

                          </mat-form-field>
                        </div>
                        <div>
                          <p>SCE Major Accident Event</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SCEMajorAccidentEvent">

                              <option *ngFor="let i of this.dropDownValues.result[0].sCEMajorAccidentEvents"
                                [value]="i.SCEMajorAccidentEvent1">
                                {{i.SCEMajorAccidentEvent1}}
                              </option>
                            </select>

                            <!-- <mat-select *ngIf="!this.firstTableData || this.firstTableData.SCEMajorAccidentEvent==null">
                            <mat-option *ngFor="let i of [1,2,3,4];" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>
                        </div>

                        <div>
                          <p>JV FL Number</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.JVFLNumber">

                          </mat-form-field>
                        </div>


                      </div>
                      <div class="right-bottom-box1">
                        <div>
                          <p>Sapres Reviewed By</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.SparesReviewdBy">

                          </mat-form-field>
                        </div>
                        <div>
                          <p>RBMApplicable</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.RBMApplicable">

                              <option *ngFor="let i of this.dropDownValues.result[0].rMBApplicabilities"
                                [value]="i.RBMApplicable">
                                {{i.RBMApplicable}}
                              </option>
                            </select>

                            <!-- <mat-select *ngIf="!this.firstTableData || this.firstTableData.RBMApplicable==null">
                            <mat-option *ngFor="let i of [1,2,3,4];" [value]="i">
                              {{i}}
                            </mat-option>
                          </mat-select> -->
                          </span>
                        </div>
                        <div>
                          <p>Tech Obj RBM Method Ind</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.TechObjRBMMethodInd">

                              <option *ngFor="let i of this.dropDownValues.result[0].techRBMMethodInds"
                                [value]="i.RBMMethod">
                                {{i.RBMMethod}}
                              </option>
                            </select>

                          </span>
                        </div>
                        <div>
                          <p>RCM Last Review Date</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.RCMLastReviewDate">

                          </mat-form-field>
                        </div>
                        <div>
                          <p>RBI Last Review Date</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.RBILastReviewDate">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>IPF Last Review Date</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.IPFLastReviewDate">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>Ex Decert</p>
                          <mat-form-field *ngIf="this.firstTableData ">
                            <input matInput [(ngModel)]="this.firstTableData.ExDecert">
                          </mat-form-field>
                        </div>
                        <div>
                          <p>Spares Review Applicable</p>
                          <span *ngIf="this.firstTableData">
                            <select class="custom-select" [(ngModel)]="this.firstTableData.SafGrpAppDel">

                              <option *ngFor="let i of this.dropDownValues.result[0].safetyGrpAppDels"
                                [value]="i.SafGrpAppDel">
                                {{i.SafGrpAppDel}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div>
                          <p>Spares Review Date</p>
                          <mat-form-field *ngIf="this.firstTableData">
                            <input matInput [(ngModel)]="this.firstTableData.SparesReviewDate">

                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </mat-card>


                </mat-tab>
              </mat-tab-group>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>

  <!-- homepage ends -->


</div>






<!-- ribbon start -->
<!-- <div id="ribbon">
      <div class="ribbon-window-title"></div>
      <div class="ribbon-tab" id="format-tab">
        <span class="ribbon-title">Main</span>
        <div class="ribbon-section">
          <span class="section-title">Users</span>
          <div class="ribbon-button ribbon-button-large" id="add-table-btn">
            <span class="button-title">Users</span>
            <span class="button-help">This button will add a table to your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-large" id="open-table-btn">
            <span class="button-title">Internal<br/>Contacts</span>
            <span class="button-help">This button will open a table and add it to your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>
        <div class="ribbon-section">
          <span class="section-title">Clients</span>
          <div class="ribbon-button ribbon-button-large" id="add-page-btn">
            <span class="button-title">Clients</span>
            <span class="button-help">This button will add a page to your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>			
        <div class="ribbon-section">
          <span class="section-title">Evidence</span>
          <div class="ribbon-button ribbon-button-large" id="add-page-btn">
            <span class="button-title">Evidence</span>
            <span class="button-help">This button will add a page to your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>
        
        <div class="ribbon-section">
          <span class="section-title">Services & Fees</span>
          <div class="ribbon-button ribbon-button-small" id="run-btn">
            <span class="button-title">Configure Service Products</span>
            <span class="button-help">This button will run the program.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/15" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/15" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/15" />
          </div>
          <div class="ribbon-button ribbon-button-small" id="repeat-btn">
            <span class="button-title">Configure Service Pricing</span>
            <span class="button-help">This button will repeat something.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>
        
        <div class="ribbon-section">
          <span class="section-title">Tasks</span>
          <div class="ribbon-button ribbon-button-small" id="run-btn">
            <span class="button-title">Task Management</span>
            <span class="button-help">This button will run the program.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-small" id="repeat-btn">
            <span class="button-title">Manage Task Definitions</span>
            <span class="button-help">This button will repeat something.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-small disabled" id="save-btn">
            <span class="button-title">Manage Task Definition Templates</span>
            <span class="button-help">This button will save your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>
  
      </div>
      <div class="ribbon-tab" id="reports-tab">
        <span class="ribbon-title">Reports</span>
        <div class="ribbon-section">
          <span class="section-title">More Stuff</span>
          <div class="ribbon-button ribbon-button-large">
            <span class="button-title">Other<br/>Feature</span>
            <span class="button-help">This button will do something else.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
            <span class="button-title">Remove<br/>Table</span>
            <span class="button-help">This button will remove the selected table from your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
        </div>
      </div>
      <div class="ribbon-tab" id="admin-tab">
        <span class="ribbon-title">Admin</span>
        <div class="ribbon-section">
          <span class="section-title"></span>
          <div class="ribbon-button ribbon-button-large">
            <span class="button-title">Password<br/>Rules</span>
            <span class="button-help">This button will do something else.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
            <span class="button-title">Session<br/>Management</span>
            <span class="button-help">This button will remove the selected table from your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
            <span class="button-title">Role<br/>Management</span>
            <span class="button-help">This button will remove the selected table from your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
            <span class="button-title">Company<br/>Information</span>
            <span class="button-help">This button will remove the selected table from your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
            <span class="button-title">Role<br/>Management</span>
            <span class="button-help">This button will remove the selected table from your document.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
        </div>
      </div>
  
      <div class="ribbon-tab" id="client-tab">
        <span class="ribbon-title">Client</span>
        <div class="ribbon-section">
          <span class="section-title"></span>
          <div class="ribbon-button ribbon-button-large">
            <span class="button-title">Add<br/>Client</span>
            <span class="button-help">This button will do something else.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
          </div>
        </div>
        <div class="ribbon-section">
          <span class="section-title">Clients</span>
          <div class="ribbon-button ribbon-button-small" id="run-btn">
            <span class="button-title">Import Clients</span>
            <span class="button-help">This button will run the program.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-small" id="repeat-btn">
            <span class="button-title">Export Clients</span>
            <span class="button-help">This button will repeat something.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>
        <div class="ribbon-section">
          <span class="section-title">Matters</span>
          <div class="ribbon-button ribbon-button-small" id="run-btn">
            <span class="button-title">Import Matters</span>
            <span class="button-help">This button will run the program.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-small" id="repeat-btn">
            <span class="button-title">Export Matters</span>
            <span class="button-help">This button will repeat something.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>
        <div class="ribbon-section">
          <span class="section-title">Contacts</span>
          <div class="ribbon-button ribbon-button-small" id="run-btn">
            <span class="button-title">Import Contacts</span>
            <span class="button-help">This button will run the program.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
          <div class="ribbon-button ribbon-button-small" id="repeat-btn">
            <span class="button-title">Export Contacts</span>
            <span class="button-help">This button will repeat something.</span>
            <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
            <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
          </div>
        </div>
      </div>
      
      
      <div class="ribbon-static">
        Hello, Web Developer! <br>
        Change Password | Log Out<br>
        Last Login: 10/25/2013 9:22:43 PM 
      </div>
    </div> -->

<!-- ribbon end -->