@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* @import "../node_modules/ng2-file-input/ng2-file-input.scss"; */

body {
    margin: 0px 1px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00072d !important;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #00072d !important;
    visibility: hidden;
    height: 0px !important;
    width: 0px !important;
}

.ellipsis {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    /* text-overflow: ellipsis;  */
}

.mw-100 {
    max-width: 100px !important;
    min-width: 100px !important;
}

.mw-110 {
    max-width: 110px !important;
    min-width: 110px !important;
}

.mw-150 {
    max-width: 150px !important;
    min-width: 150px !important;
}
.mw-30 {
    max-width: 30px !important;
    min-width: 30px !important;
}

.mw-50 {
    max-width: 50px !important;
    min-width: 50px !important;
}

.mw-75{
    min-width: 55px !important;
    max-width: 55px !important;
}
.mw-90{
    min-width: 90px !important;
    max-width: 90px !important;
}
.mw-60 {
    max-width: 60px !important;
    min-width: 60px !important;
}
.mw-70 {
    max-width: 70px !important;
    min-width: 70px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.example-tree-invisible {
    display: none;
}

.example-full-width {
    width: 100%;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.pd-5 {
    padding-left: 9% !important;
}


/* css for Home page */

html,
body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.page-container {
    height: 95vh;
}


/* horizontal panel*/

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    min-height: calc(100% - 100px);
    touch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    min-height: 93vh;
    padding: 10px;
    width: 50%;
    min-width: 150px;
    white-space: nowrap;
    background: #cde8fb;
    color: white;
}

.splitter {
    flex: 0 0 auto;
    width: 5px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat#ff0000;
    min-height: 200px;
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #d8e0e3;
}


/* vertical panel */

.panel-container-vertical {
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 1px solid silver;
    overflow: hidden;
}

.panel-top {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 10px;
    height: 150px;
    width: 100%;
    white-space: nowrap;
    background: #838383;
    color: white;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
    cursor: row-resize;
}

.panel-bottom {
    flex: 1 1 auto;
    /* resizable */
    padding: 10px;
    min-height: 200px;
    background: #eee;
}

pre {
    margin: 20px;
    padding: 10px;
    background: #eee;
    border: 1px solid silver;
    border-radius: 4px;
    overflow: auto;
}

.right-top-panel {
    height: 50%
}

.right-btm-panel {
    height: 50%;
    border-top: 2px solid #ff0000;
}


/* css for colour */

.mat-nested-tree-node li {
    list-style-type: none !important;
    background-color: transparent !important;
}

.mat-tree {
    /* background: #cde8fb; */
    background-color: transparent !important;
}

.mat-tree-node .mat-icon-button {
    width: 25px !important;
    height: 25px !important;
    line-height: 5px !important;
}


/* .mat-tree-node {
    min-height: 25px !important;
  } */

.mat-tree-node {
    min-height: 15px !important;
    max-height: 15px;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    visibility: hidden !important;
}

.heading-text {
    position: relative;
    top: 13px;
    color: #fff;
}

.colorParent {
    color: #1B2845 !important;
    font-weight: 500;
    font-size: 11px;
}

.colorChild {
    color: #000102 !important;
    font-weight: 500;
    font-size: 10px;
}

mat-icon.mat-icon-rtl-mirror.custom-mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 15px !important;
    height: 20px !important;
    width: 20px !important;
}

.custom-table-second {
    overflow-x: scroll;
    max-width: 100% !important;
}

table {
    width: 100%;
}

.custom-table {
    overflow-x: scroll;
    display: block;
    max-width: 100% !important;
}

.custom-table th {
    min-width: 150px;
    max-width: 150px;
    padding-right: 5px !important;
}

.custom-table td {
    min-width: 150px;
    max-width: 150px;
    padding-right: 5px !important;
}

.left-pane {
    max-width: 50%;
    min-width: 25%;
    width: 25%;
    background: #a5cfed;
    overflow: auto;
    scrollbar-color: #24618c #cedde8;
    scrollbar-width: 10px !important;
    /* scrollbar-height: 10px !important; */
}

.right-pane {
    min-width: 50%;
    max-width: 75%;
    width: 75%;
    scrollbar-color: #24618c #cedde8;
    scrollbar-width: 10px !important;
}

.right-pane1 {
    min-height: 70%;
    /* background: #7db9e5; */
    background: #4a9eda;
    /* background: #0E6BA8; */
    /* background: #7b9cff; */
}

.right-pane2 .mat-tab-label {
    font-weight: 600;
    font-size: 14px;
    color:black!important;
    opacity: 1 !important;
}

.right-pane2 {
    min-height: 50%;
    /* background: #4a9eda; */
    /* background: #0A2472; */
    /* background: #7b9cff; */
}

.ml-25 {
    margin-left: 25px !important;
}

.left-bottom-box {
    margin-right: 25px;
}

.left-bottom-box p {
    margin-right: 10px;
    font-size: 13px;
}

.right-bottom-box p {
    margin-right: 10px;
    font-size: 13px;
}

/* .mw-120 {
    max-width: 110px;
} */

tr.mat-header-row {
    height: 32px !important;
    font-weight: 600 !important;
    color: #00072d !important;
}

.searchbar {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background: #cedde8;
}

::-webkit-scrollbar-thumb {
    /* background: #52a2da; */
    background: #24618c;
}

.box-two {
    width: 100%;
    height: 95vh;
    background: #7cc6feb0;
}

.pane-heading {
    margin: 0px;
    padding: 4px;
    text-align: center;
    background: #fff;
    font-size: 15px;
    font-weight: 600;
    color: #00072d;
}

.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.text-right {
    text-align: right !important;
}

.searchicon {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #fff !important;
    font-size: 21px !important;
}

.p-relative {
    position: relative;
}

.searchbar .mat-form-field-label {
    padding-left: 30px;
   
    color: #fff !important;
}
.home-searchbar .mat-form-field-label {
    padding-left: 30px;
    margin: auto !important;
    color: #fff !important;
}

.searchbar .mat-form-field-ripple {
    background-color: #fff !important;
}

.searchbar .mat-input-element {
    caret-color: #fff !important;
}

.searchbar input.mat-input-element {
    padding-left: 25px !important;
}

.as-split-gutter {
    background: #085c98;
}

.as-split-gutter {
    background-color: #085c98 !important;
}

.searchbar .mat-form-field-underline {
    background-color: rgb(255, 255, 255) !important;
}

.level-11 {

    min-width: 100%;
    display: block;
    color: #5c89ec !important;
    font-weight: 500;
    font-size: 10px;
    margin-left: 8px;
}

.level-11 button {
    width: 20px !important;
    height: 20px !important;
    visibility: hidden !important;
}

.level-10 {

    min-width: 100%;
}

.level-20 {
    background-color: #8a4f4f;
    min-width: 100%;
}

.level-30 {
    background-color: #49da9a;
    min-width: 100%;
}

.level-40 {
    background-color: #f7d038;
    min-width: 100%;
}

.level-50 {
    background-color: #712e9a;
    min-width: 100%;
}

.level-60 {
    background-color: #716184;
    min-width: 100%;
}

.level-70 {
    background-color: #85e265;
    min-width: 100%;
}

.level-80 {
    background-color: #ffb900;
    min-width: 100%;
}

.level-90 {
    background-color: #794409;
    min-width: 100%;
}

.level-100 {
    background-color: #8b4343;
    min-width: 100%;
}

.level-110 {
    background-color: #952797;
    min-width: 100%;
}

.level-120 {
    background-color: #a73838;
    min-width: 100%;
}

.level-130 {
    background-color: #063fb9;
    min-width: 100%;
}

.level-140 {
    background-color: #180209;
    min-width: 100%;
}

.level-150 {
    background-color: #5906b9;
    min-width: 100%;
}

.level-160 {
    background-color: #ff90f9;
    min-width: 100%;
}

.level-170 {
    background-color: #b6b906;
    min-width: 100%;
}

.level-180 {
    background-color: #0906b9;
    min-width: 100%;
}

.white-color {
    color: #fff !important;
}

.d-ib {
    display: inline-block;
}

.wd-98 {
    width: 98% !important;
}

.wd-90 {
    width: 90% !important;
}

.wd-80 {
    width: 80% !important;
}

.wd-85 {
    width: 85% !important;
}

.wd-10 {
    width: 10% !important;
}

.wd-15 {
    width: 15% !important;
}

.excel-img {
    width: 25px !important;
}

.mt--10 {
    margin-top: -10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.command-bar-box {
    padding: 5px 2px !important;
    border-radius: 0px !important;
}

.heading-w-commandbar {
    display: inline-block;
    text-align: center;
    margin: 0px !important;
    font-size: 15px;
    font-weight: 600;
    color: #00072d;
}

.text-center {
    text-align: center !important;
}

.command-bar {
    /* display: inline-block; */
    /* float: right; */
    position: absolute;
    right: 10px;
    top: 4px;
}

.command-bar i {
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px !important;
    border-right: 1px solid #cecece;
}

.tabgroup-bottom {
    display: block !important;
}

.right-pane1 .mat-form-field-appearance-legacy .mat-form-field-wrapper,
.right-pane2 .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 13px !important;
}

.right-pane1 .mat-form-field-infix,
.right-pane2 .mat-form-field-infix {
    padding: .5em 0;
    border-top: 5px solid transparent !important;
}

.right-pane .mat-header-cell {
    font-weight: 600 !important;
    color: #00072d !important;
}

.open-floc-modal {
    padding: 0px !important;
    max-width: 35px !important;
    min-width: 45px !important;
    line-height: 20px !important;
}

.left-pane .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 5px 0 !important;
}

.left-pane .mat-form-field-label-wrapper {
    padding-top: 10px !important;
}

.left-pane .mat-form-field-infix {
    border-top: 6px solid transparent !important;
}

.left-pane .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 17px !important;
}

.mt--15 {
    margin-top: -15px !important;
}


/* @media (min-width: 960px) and (max-width: 1700px){
    .left-bottom-box{
      min-width: 100% !important;
    }

  } */


/* @media (max-width: 1700px){
    .custom-flex-direction{
      flex-direction: column !important;
    }
    .left-bottom-box {
      margin-right: 0px !important;
      margin-left: 0px !important;
  }
  .right-bottom-box {
    min-width: 100% !important;
  }
  } */


/* @media (min-width: 960px) and (max-width: 1160px){
    .left-bottom-box{
      min-width: 100% !important;
    }

  }
  @media (max-width: 1024px){
    .custom-flex-direction{
      flex-direction: column !important;
    }
    .left-bottom-box {
      margin-right: 0px !important;
      margin-left: 0px !important;
  }
  .right-bottom-box {
    min-width: 100% !important;
  }
  } */

@media (min-width: 320px) and (max-width: 767px) {
    .left-pane {
        min-width: 100% !important;
        display: block !important;
    }
    .right-pane {
        min-width: 100% !important;
        display: block !important;
    }
    .mega-box {
        flex-direction: column !important;
    }
    .left-bottom-box {
        margin-right: 0px !important;
    }
    .left-bottom-box p {
        min-width: 210px !important;
    }
    .right-bottom-box p {
        min-width: 210px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .panel-container {
        display: block !important;
    }
    .panel-left {
        display: block !important;
        width: 100% !important;
        min-height: 350px !important;
    }
    .splitter {
        display: none !important;
    }
    .panel-right {
        border-top: 2px solid red;
        min-height: 500px !important;
        display: block !important;
        width: 100%;
    }
    .right-top-panel {
        min-height: 250px !important;
    }
}

.custom-number {
    float: left !important;
    /* max-width: 20% !important; */
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #0d9aff !important;
}

.custom-text {
    float: right !important;
    /* max-width: 80% !important; */
    /* text-overflow: ellipsis; */
}

.mat-option {
    height: 25px !important;
    font-size: 14px !important;
}

@media (max-width: 1800px) {
    .excel-button {
        line-height: 30px !important;
        min-width: 30px !important;
        padding: 0px 10px !important;
    }
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.custom-right-top-list li {
    margin-right: 15px;
    min-width: 50px;
    max-height: 30px;
}

.custom-right-top-list {
    background: #fff;
}


/* margin: 0px !important; */

.custom-right-top-list p {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

/* .custom-right-top-list .mat-select {
    width: 50px;
    top: 10px;
    position: relative;
    font-size: 13px;
} */

.custom-right-top-list .mat-checkbox {
    position: relative;
    top: 7px;
}

.custom-right-top-list .mat-form-field {
    font-size: 13px
}

.ellipsis-text {
    /* text-overflow: ellipsis; */
    max-width: 110px !important;
}


/* css without flexbox right bottom */

.left-bottom-box1 {
    max-width: 32%;
    display: inline-block;
    margin-right: 13px;
}

.middle-bottom-box {
    max-width: 32%;
    display: inline-block;
    margin-right: 13px;
}

.right-bottom-box1 {
    max-width: 32%;
    display: inline-block;
}

.custom-flex-direction {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.custom-flex-direction .mat-form-field {
    font-size: 12px !important;
    max-width: 100px !important;
    max-width: 100px !important;
    display: inline-block;
}

.custom-flex-direction p {
    max-width: 45%;
    min-height: 29px;
    min-width: 45%;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin-right: 3px;
}

@media (min-width: 935px) and (max-width: 1100px) {
    .custom-flex-direction p {
        font-size: 11px !important;
    }
}

@media (min-width: 768px) and (max-width: 934px) {
    .left-bottom-box1 {
        max-width: 50% !important;
        min-width: 50% !important;
        margin-right: 0px !important;
    }
    .middle-bottom-box {
        max-width: 50% !important;
        min-width: 50% !important;
        margin-right: 0px !important;
    }
    .right-bottom-box1 {
        max-width: 50% !important;
        min-width: 50% !important;
    }
}

.home-option .mat-option {
    height: auto!important;
    font-size: 12px !important;
    padding: 0px;
    line-height: 20px !important;
}

.home-option table .mat-header-cell {
    font-weight: 600 !important;
    color: #00072d !important;
}

.home-option td.mat-cell {
    padding-right: 10px !important;
    font-size: 12px !important;
}

.scroll-table-option {
    overflow: auto !important;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.center-div {
    position: absolute !important;
    top: 46%;
    left: 50%;
    z-index: 99999 !important;
    transform: translate(-50%, -50%);
}

.home-page {
    position: relative;
}

.low-opacity {
    opacity: 0.3;
}

.wd-70 {
    width: 70px !important;
}

.wd-78-p {
    width: 78% !important;
}

.wd-60 {
    width: 60px !important;
}

.mxwd-100 {
    max-width: 100px;
}

.ng2-file-input-drop-container + input {
    display: none !important;
}

.mt-28 {
    margin-top: 28px !important;
}

.ng2-file-input-drop-container span {
    display: none !important;
}

.wd-80 {
    width: 80%;
}

.wd-75 {
    width: 75%;
}

.wd-12 {
    width: 12%;
}

ng2-file-input {
    position: relative;
}

ng2-file-input button {
    position: relative;
    left: -35px;
    min-width: 38px;
    line-height: 28px;
    max-width: 35px;
    color: #fff;
    background: #00072d;
    border: 0px;
    outline: none !important;
    cursor: pointer;
}

.floc-btm-table tr.mat-row {
    height: 32px !important;
}

.import-btn {
    max-width: 64px;
    background: #00072d;
    cursor: pointer;
}

.collapse-btn {
    float: right !important;
    line-height: 0px !important;
    margin-top: 10px !important;
}

.mw-110 {
    max-width: 110px !important;
    min-width: 110px !important;
}

.mw-20 {
    max-width: 20px !important;
    min-width: 20px !important;
}

.mw-80 {
    max-width: 80px !important;
    min-width: 80px !important;
}

.mw-135 {
    max-width: 135px !important;
    min-width: 135px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mat-select-value {
    text-overflow: inherit !important;
}

.left-top-btn {
    padding: 0px !important;
    min-width: 30px !important;
}

.refresh-icon {
    font-size: 18px !important;
    line-height: 0.8 !important;
}

.static-select .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled {
    background: #ffffff57 !important;
    border-color: #777777 !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mr-15 {
    margin-right: 15px !important;
}
.btn{
    padding: 0px 7px !important;
}

/* ribbon css start */


/* @media screen and (max-width: 768px) {
    .ribbon-static {
      display: none !important;
    }
  }

  .page
  {
    border: 1px solid #a5acb5;
    margin: 20px;
    padding: 15px;
    -webkit-box-shadow: #000000 0px 0px 10px;
    -moz-box-shadow: #000000 0px 0px 10px;
    box-shadow: #000000 0px 0px 10px;
    background: #FFF;
  }

  .ribbon-static {
      display:block;
      float: right; 
      margin-right: 10px; 
      margin-top: -70px; 
      text-align: center; 
      font-size: 12px;
  }

  #ribbon
  {
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    cursor: default;
    font-size: 8pt;
    padding-top: 0px;
    background-color: #eaedf1;
    border-bottom: 1px solid #8b9097;
    -webkit-box-shadow: #8b9097 0px 1px 3px;
    -moz-box-shadow: #8b9097 0px 1px 3px;
    box-shadow: #8b9097 0px 1px 3px;
    overflow: hidden;
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 135px;
    min-width: 768px;
  }

  #ribbon.backstage
  {
    height: auto;
    bottom: 0;
  }

  #ribbon #ribbon-tab-header-strip
  {
    margin: 20px 0 0 10px;
    white-space: nowrap;
  }

  #ribbon .ribbon-tab-header
  {
    display: inline;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 8pt;
    color: #444; 
    border-bottom: 1px solid #b6babf;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    z-index: 40;
  }

  #ribbon.backstage .ribbon-tab-header
  {
    border-bottom: 1px solid #1f48a1;
  }

  #ribbon .ribbon-tab-header:hover
  {
    background: #f1f3f4;
    border: 1px solid #b6babf;
    margin: -1px 4px;
    cursor: pointer;
  }

  #ribbon.backstage .ribbon-tab-header
  {
    border-bottom: 1px solid #1f48a1;
  }

  #ribbon .ribbon-tab-header.sel, #ribbon .ribbon-tab-header.sel:hover
  {
    background: #fff;
    margin: -1px 4px;
    border: 1px solid #b6babf;
    border-bottom: 1px solid #fff;
    cursor: default;
    z-index: 45;
  }

  #ribbon .ribbon-tab-header.file
  {
    padding: 5px 20px;
    background: #2860b3;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4488e5), to(#2860b3));
    background: -moz-linear-gradient(#4488e5, #2860b3);
    -pie-background: linear-gradient(#4488e5, #2860b3);
    border: 1px solid #1f48a1;
    margin: -1px 4px;
    border-bottom: 1px solid #4488e5;
    cursor: default;
    color: #fff;
  }

  #ribbon .ribbon-tab-header.file:hover
  {
    background: #3870c3;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5498f5), to(#3870c3));
    background: -moz-linear-gradient(#5498f5, #3870c3);
    -pie-background: linear-gradient(#5498f5, #3870c3);
    border: 1px solid #1f48a1;
    cursor: pointer;
    border-bottom: 1px solid #4488e5;
    z-index: 55;
    position: relative;
  }
  #ribbon .ribbon-tab-header.file.sel
  {
    background: #4488e5;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2860b3), to(#4488e5));
    background: -moz-linear-gradient(#2860b3, #4488e5);
    -pie-background: linear-gradient(#2860b3, #4488e5);
    border: 1px solid #1f48a1;
    cursor: pointer;
    border-bottom: 1px solid #4488e5;
    z-index: 55;
    position: relative;
  }

  #ribbon .ribbon-tab
  {
    height: 80px;
    padding: 5px;
    margin-top: 5px;
    border-top: 1px solid #b6babf;
    background: #FFF  repeat-x bottom;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
    background: -moz-linear-gradient(#ffffff, #eaedf1); 
    overflow: hidden;
    min-width: 500px;
    behavior: url(/PIE.htc);
    z-index: 30;
    -pie-watch-ancestors: 2;
  }

  #ribbon .ribbon-tab.file
  {
    padding: 0;
    margin-top: 5px;
    border-top: 1px solid #1f48a1;

    background-color:#4488e5;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#4488e5, endColorstr=#ffffff);
    background-image:-moz-linear-gradient(left, #4488e5 15%, #ffffff 100%);
    background-image:-webkit-linear-gradient(left, #4488e5 15%, #ffffff 100%);
    background-image:-ms-linear-gradient(left, #4488e5 15%, #ffffff 100%);
    background-image:linear-gradient(left, #4488e5 15%, #ffffff 100%);
    background-image:-o-linear-gradient(left, #4488e5 15%, #ffffff 100%);
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(15%,#4488e5), color-stop(100%,#ffffff));

    overflow: hidden;
    min-width: 500px;
    z-index: 30;
  }

  #ribbon .ribbon-backstage
  {
    display: none;
  }

  #ribbon.backstage .ribbon-backstage
  {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #FFF;
  }

  #ribbon .section-title
  {
    color: #5B626C;
    text-align: center;
    clear: left;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

  }

  #ribbon .ribbon-section
  {
    float: left;
    position: relative;
    height: 82px;
  }

  #ribbon .ribbon-section-sep
  {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #fff;
    margin: 0 5px;
    height: 75px;
    position: relative;
    width: 0;
    float: left;
  }

  #ribbon .ribbon-button
  {
    padding: 4px 6px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;

  }

  #ribbon .ribbon-button-large
  {
    text-align: center;
    height: 58px;
    min-width: 44px;
    float: left;
  }

  #ribbon .ribbon-button-small
  {
    height: 14px;
    padding: 3px 4px;
    text-align: left;

  }

  #ribbon .ribbon-button .button-help
  {
    display: none;
  }

  #ribbon .ribbon-button .button-title
  {
    color: #444;
  }

  #ribbon .ribbon-button-large .button-title
  {
    clear: left;
    display: block;
  }

  #ribbon .ribbon-button-large .ribbon-icon
  {
    margin: auto;
  }

  #ribbon .ribbon-button-small .ribbon-icon
  {
    width: 16px;
    height: 16px;
    float: left;
    clear: left;
    margin: -1px 5px 0px 1px;
  }
  #ribbon .ribbon-button .ribbon-icon.ribbon-hot, #ribbon .ribbon-button .ribbon-icon.ribbon-disabled
  {
    display: none;
  }

  #ribbon .ribbon-button-large .ribbon-icon.ribbon-normal
  {
    display: block;
  }

  #ribbon .ribbon-button:hover .ribbon-icon.ribbon-normal
  {
    display: none;
  }

  #ribbon .ribbon-button-large:hover .ribbon-icon.ribbon-hot
  {
    display: block;
  }
  #ribbon .ribbon-button-small .ribbon-icon.ribbon-normal
  {
    display: inline;
  }

  #ribbon .ribbon-button-small:hover .ribbon-icon.ribbon-hot
  {
    display: inline;
  }

  #ribbon .ribbon-button:hover, #ribbon .ribbon-button.sel
  {
    border: 1px solid #F1C43F;
    background: #fdeeb3;
    cursor: pointer;

  }
  #ribbon .ribbon-button:active
  {
    border: 1px solid #F1C43F;
    background: #F1C43F;
    cursor: pointer;
  }

  #ribbon .ribbon-button.disabled .ribbon-icon, #ribbon .ribbon-button.disabled:hover .ribbon-icon
  {
    display: none;
  }
  #ribbon .ribbon-button.disabled .ribbon-icon.ribbon-disabled
  {
    display: block;
    opacity: 0.8;

  }
  #ribbon .ribbon-button.disabled .ribbon-icon.ribbon-implicit-disabled
  {
    opacity: 0.4;
  }

  #ribbon .ribbon-button.disabled:hover
  {
    border: 1px solid transparent;
    background: transparent;
    cursor: default;
  }
  #ribbon .ribbon-button.disabled:active
  {
    border: 1px solid transparent;
    background: transparent;
    cursor: default;
  }

  #ribbon .ribbon-button.disabled .button-title
  {
    color: #888;
  }

  .ribbon-tooltip
  {
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 10pt;
    position: fixed;
    z-index: 5000;
    border: 1px solid #8b9097;
    background-color: #e5e5f0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e5e5f0));
    background: -moz-linear-gradient(#ffffff, #e5e5f0);
    -pie-background: linear-gradient(#ffffff, #e5e5f0);
    padding: 5px;
    -webkit-box-shadow: #c6c9cd 1px 1px 3px;
    -moz-box-shadow: #c6c9cd 1px 1px 3px;
    box-shadow: #c6c9cd 1px 1px 3px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    width: 200px;
    top: 150px !important;
  } */


/* ribbon css end */
mat-tree-node p{
    white-space: nowrap; 
  /* width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis;  */
}
.px-15{
    padding-left: 15px;
    padding-right: 15px;    
}
.myPanelClass {
    margin-top: 20px !important; 
    /* min-height: 50% !important; */
    border-radius: 0px !important;
    /* max-height: 50% !important; */
  }

  .custom-mat-option{
    border-radius: 0px !important;
    /* min-height: 100% !important;
    max-height: 100% !important; */
    min-height: 50% !important;
    max-height: 50% !important;
  }
  .custom-mat-option .mat-option-text{
    font-size: 14px !important;
    padding-left: 5px !important;
    color: #000 !important; 
  }
  .myPanelClass .mat-option-text{
    font-size: 14px !important;
    padding-left: 5px !important;
    color: #000 !important;
  }
  p{
      margin: 0px;
  }
  .btn-primary {
    color: #fff;
    background-color: #00072d !important;
    border-color: #00072d !important;
  }
  .mat-tab-labels {
    background: #a4cded !important;
}
.right-pane2  .custom-flex-direction p{
    margin-bottom: 7px;
}
.right-pane1 .custom-right-top-list p{
    font-size: 13px !important;
    font-weight: bold !important;

}
.mb-10{
    margin-bottom: 10px !important;
}

.example-full-width {  
    padding-right: 12px !important;
}

.mw-120 {
    max-width: 120px !important;
    min-width: 120px !important;
}
.wd-100{
    min-width: 100% !important;
    max-width: 100% !important;
}
.mnmx-100{
    min-width: 100px;
    max-width: 100px;
}
