.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: rgb(255, 255, 255) !important;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: rgb(255, 255, 255) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #bfbfbf !important;
}

.mat-slide-toggle-bar {
    background-color: #bfbfbf !important;
}

.mat-slide-toggle-thumb {
    height: 13px !important;
    width: 13px !important;
}

.mat-slide-toggle-bar {
    width: 25px !important;
    height: 8px !important;
}

.mat-slide-toggle .mat-slide-toggle-ripple {
    top: calc(10% - 5px) !important;
    left: calc(0% - 5px) !important;
    height: 20px !important; 
    width: 20px !important;
}